/**
 * General section
 */

@mixin section($cols: 12, $spaceless: false) {
  @include page-spacing;

  .section-inner {
    @include grid;
    width: 100%;
  }

  .section__head {
    @if $spaceless == false {
      @include grid-item(12);
      max-width: grid-calc(12);
      margin-left: auto;
      margin-right: auto;

      @include breakpoint($bp-m) {
        @include grid-item(8);
        max-width: grid-calc(8);
      }
    } @else {
      @include grid-item-spaceless(12);
      max-width: grid-calc(12);
      margin-left: auto;
      margin-right: auto;

      @include breakpoint($bp-m) {
        @include grid-item-spaceless(8);
        max-width: grid-calc(8);
      }
    }
  }

  .section__body {
    @if $spaceless == false {
      @include grid-item($cols);
      max-width: grid-calc($cols);
      margin-left: auto;
      margin-right: auto;
    } @else {
      @include grid-item-spaceless($cols);
      max-width: grid-calc($cols);
      margin-left: auto;
      margin-right: auto;
    }
  }

  /**
   * Section inside takeover
   */

  .takeover & {
    @include breakpoint($bp-m) {
      padding-left: 30px;
      padding-right: 30px;

      .section__head,
      .section__body {
        width: 100%;
        max-width: $w-content;
        padding-left: 30px;
        padding-right: 30px;
      }
    }
  }
}

/**
 * Section 8 cols
 */

@mixin section-slim {
  @include section(8);

  .section__head,
  .section__body {
    max-width: calc(#{$w-content} + #{$grid-item-spacing-s} * 2);

    @include breakpoint($bp-m) {
      max-width: calc(#{$w-content} + #{$grid-item-spacing-m} * 2);
    }

    @include breakpoint($bp-l) {
      max-width: calc(#{$w-content} + #{$grid-item-spacing-l} * 2);
    }
  }
}

/**
 * Section without margin on the body
 * for sections containing another grid
 */

@mixin section-spaceless($cols: 12) {
  @include section($cols, true);
}

/**
 * Section for scrolltracks
 */

@mixin section-scrolltrack {
  @include section-spaceless;

  @include breakpoint(max $bp-scrolltrack) {
    padding-left: 0;
    padding-right: 0;

    .section__head {
      text-align: left;
      padding-left: $outside-gutter-m + $grid-item-spacing-m;
      padding-right: $outside-gutter-m + $grid-item-spacing-m;
    }
  }

  @include breakpoint(max $bp-m) {
    .section__head {
      text-align: left;
      padding-left: $outside-gutter-s + $grid-item-spacing-s;
      padding-right: $outside-gutter-s + $grid-item-spacing-s;
    }
  }

  @include breakpoint($bp-scrolltrack) {
    .section__body {
      @include grid;
      justify-content: center;
      width: 100%;
    }
  }
}

/*--- Section headings ------------------ */

/**
 * Section head
 */

@mixin section-head {
  .section__head {
    @include section-margin-bottom(s);
  }

  .section__head__title {
    @include h2-action;

    .takeover & {
      font-size: 22px;

      @include breakpoint($bp-s) {
        font-size: 28px;
      }
    }

    @include breakpoint($bp-s) {
      text-align: center;
    }
  }

  .section__head__intro {
    @include lead;
    @include richtext-link;
    margin-top: 12px;

    @include breakpoint($bp-s) {
      text-align: center;
    }
  }
}

/**
 * Section head alternative
 */

@mixin section-head-alt {
  .section__head {
    @include section-margin-bottom(xs);
    @include grid-item(12);
    max-width: grid-calc(12);
  }

  .section__head-wrapper {
    width: 100%;

    @include breakpoint($bp-s) {
      display: flex;
      align-items: center;
    }
  }

  .section__head__btn {
    @include breakpoint($bp-s) {
      width: auto;
      margin-left: auto;
    }
  }

  .section__head__title {
    @include h2;
    text-align: left;
  }
}

/*--- Section specifics ------------------ */

/**
 * Section richtext
 */

.section--richtext {
  @include section-slim;
}

/**
 * Intro
 */

.section--intro {
  @include section-spaceless;
}

/**
 * Intro-home
 */

.section--intro-home {
  @include section;

  @include breakpoint($bp-l) {
    @include section(8);
  }
}

/**
 * Highlight
 */

.section--highlight {
  @include section-spaceless;
}

/**
 * Featured vacancies
 */

.section--featured-vacancies {
  @include section-scrolltrack;
  @include section-padding-top(xl);
  @include section-padding-bottom(xl);
  @include section-head;
  background-color: $rh-grey-1;
}

/**
 * React vacancies
 */

.section--react-vacancies {
  @include section-spaceless;
}

/**
 * Related articles
 */

.section--related-articles {
  @include section-spaceless;
  @include section-head-alt;
  position: relative;

  @include breakpoint(max $bp-s) {
    padding-bottom: 40px;

    .section__head__btn {
      position: absolute;
      bottom: 0;
    }
  }
}

/**
 * Line
 */

.section--line {
  @include section;
}

/**
 * Featured testimonials
 */

.section--featured-testimonials {
  @include section-scrolltrack;
  @include section-padding-top(xl);
  @include section-padding-bottom(xl);
  @include section-head;
  background-color: $rws-blue-light;
}

/**
 * Contact share
 */

.section--contact-share {
  @include section;
}

/**
 * Follow jobs
 */

.section--follow-jobs {
  @include section;
  @include section-head;
}

/**
 * Job description
 */

.section--job-description {
  @include section;
}

/**
 * Collapsible
 */

.section--collapsible {
  @include section-slim;

  & + & {
    margin-top: 0 !important;
  }

  // sass-lint:disable force-pseudo-nesting
  .section:not(.section--collapsible) + & {
    .collapsible {
      border-top: 1px solid $rh-grey-3;
    }
  }
}

/**
 * Collapsibles
 */

.section--collapsibles {
  @include section-head-alt;
  @include section-slim;

  .collapsible {
    &:first-of-type {
      border-top: 1px solid $rh-grey-3;
    }
  }
}

/**
 * Vacancy head
 */

.section--vacancy-head {
  @include section-slim;
  @include section-padding-bottom(m);
  background-color: $rh-grey-1;
}

/**
 * Call to action
 */

.section--cta {
  @include section;
  @include section-head;

  .section__head__title {
    text-align: center;
  }
}

/**
 * Testimonial head
 */

.section--testimonial-head {
  @include section;
}

/**
 * Vacancy apply
 */

.section--vacancy-apply {
  @include section-slim;

  .vacancy-apply {
    padding-top: 32px;
    border-top: 1px solid $rh-grey-3;
  }
}

/**
 * Contact person
 */

.section--contact-person {
  @include section-slim;

  .contact-person {
    background-color: $rh-grey-1;
    border-radius: 4px;
    padding: 16px;

    @include breakpoint($bp-m) {
      padding: 24px;
    }
  }
}

/**
 * Related vacancies
 */

.section--related-vacancies {
  @include section-scrolltrack;
  @include section-head-alt;
}

/**
 * Steps
 */

.section--steps {
  @include section-head-alt;

  @include breakpoint(max $bp-s) {
    @include section-scrolltrack;
  }

  @include breakpoint($bp-s) {
    @include section-slim;
  }
}

/**
 * Branches
 */

.section--branches {
  &.is-swipeable {
    @include breakpoint(max $bp-scrolltrack) {
      @include section-scrolltrack;
    }
  }

  &:not(.is-swipeable) {
    @include section-spaceless;

    .card-branch__body {
      @include breakpoint(max $bp-s) {
        height: auto !important;
      }
    }
  }
}

/**
 * Button-link
 */

.section--button-link {
  @include section-slim;
}

/**
 * Quote
 */

.section--quote {
  @include section-slim;
}

/**
 * Image
 */

.section--image {
  @include section-spaceless;
}

/**
 * Call-out
 */

.section--callout-simple {
  @include section-slim;
}

/**
 * Featured testimonial
 */

.section--featured-testimonial {
  @include section-slim;
}

/**
 * Featured article
 */

.section--featured-article {
  @include section-slim;
}

/**
 * Article grid
 */

.section--article-grid {
  @include section-spaceless;
}

/**
 * Video
 */

.section--video {
  &.is-slim {
    @include section-slim;
  }

  &.is-wide {
    @include section;
  }
}

/**
 * Article intro
 */

.section--article-intro {
  @include section-slim;
}

/**
 * Event intro
 */

.section--event-intro {
  @include section-slim;
}

/**
 * Waar en wanneer
 */

.section--where-when {
  @include section-slim;
}

/**
 * Delen
 */

.section--share {
  @include section-slim;
}

/**
 * Ontmoet ons
 */

.section--meet-us {
  @include section-spaceless;
}

/**
 * Feiten, content
 */

.section--facts {
  &.is-slim {
    @include section-slim;
  }

  &.is-wide {
    @include section-spaceless;
    @include section-padding-top(xl);
    @include section-padding-bottom(xl);
    background-color: $rh-grey-1;
  }
}

/**
 * Test
 */

.section--test {
  @include section;

  &.exception {
    background-color: $rws-blue-light;
  }
}

/**
 * Recruiter carousel
 */

.section--recruiter-carousel {
  @include section-spaceless;
  @include section-padding-top(xl);
  @include section-padding-bottom(xl);
  @include section-head;
  background-color: $rws-blue-light;

  overflow: hidden;
}

/**
 * Podcastgrid
 */

.section--podcast-grid {
  @include section-spaceless;
}

/**
 * Timeline tabs
 */

.section--timeline-tabs {
  @include section-slim;
}

/**
 * Timeline updates
 */

.section--timeline-updates {
  @include section-slim;
}

/**
 * Timeline about
 */

.section--timeline-about {
  @include section-slim;
}
