[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  vertical-align: middle;
  transform-origin: center center;
}

/**
 * External icon is always inside a link
 * so this icon has a pre set fill and margin.
 */

.icon-external {
  fill: $rws-blue;
  text-decoration: none;
  width: 24px;
  height: 24px;
  margin-left: 2px;
  transform: translateY(-1px);
}

// remove pointer events for Edge
// https://stackoverflow.com/questions/24078524/svg-click-events-not-firing-bubbling-when-using-use-element

use {
  pointer-events: none;
}
