// sass-lint:disable-all

/**
 * VideoJS
 */

.vjs-rws-skin {
  $h-progress: 8px; // height of slider bars
  font-family: $rijksoverheid-sans;
  font-size: 10px; // base for em-units throughout video-js
  color: $white; // text and icon color

  .vjs-control-bar {
    @include breakpoint($bp-m) {
      height: 4.5em;
    }
  }

  &.vjs-audio.vjs-has-started.vjs-user-inactive.vjs-playing {
    .vjs-control-bar {
      opacity: 0 !important;
    }
  }

  .vjs-control {
    @include breakpoint($bp-m) {
      height: 4.5em;
    }

    &:hover {
      text-shadow: 0;
      color: $rws-yellow;
    }
  }

  .vjs-time-tooltip {
    font-family: $rijksoverheid-sans;
  }

  .vjs-remaining-time {
    @include breakpoint($bp-m) {
      padding: 0.8em 0;
    }
  }

  /* The default color of control backgrounds is mostly black but with a little
    bit of blue so it can still be seen on all-black video frames, which are common. */
  .vjs-control-bar,
  .vjs-big-play-button,
  .vjs-menu-button .vjs-menu-content {
    background-color: rgba($rh-logo-blue, 0.3);
  }

  /* Slider - used for Volume bar and Progress bar */
  .vjs-slider {
    background-color: rgba($white, 0.3);
    border-radius: 2px;
    height: $h-progress;
  }

  /* The slider bar color is used for the progress bar and the volume bar
    (the first two can be removed after a fix that's coming) */
  .vjs-volume-level,
  .vjs-play-progress {
    border-radius: 2px;
    background: $rws-yellow;
  }

  /* Progress bar */
  .vjs-progress-holder {
    .vjs-load-progress,
    .vjs-load-progress div,
    .vjs-play-progress,
    .vjs-tooltip-progress-bar {
      height: $h-progress;
    }
  }

  /* Volume slider */
  .vjs-volume-control {
    display: flex;
    align-items: center;
  }

  .vjs-volume-bar {
    margin: 0;

    &:focus {
      text-shadow: 0;
      box-shadow: 0;
    }
  }

  .vjs-volume-level {
    height: $h-progress;

    &::before {
      content: "";
      top: 0;
      right: 0;
      width: 2px;
      height: $h-progress;
      background-color: $white;
    }
  }

  .vjs-volume-panel {
    &:hover {
      .vjs-volume-control {
        &.vjs-volume-horizontal {
          @include breakpoint($bp-m) {
            height: 4.5em;
          }
        }
      }
    }

    .vjs-mute-control {
      &:hover {
        & ~ .vjs-volume-control {
          &.vjs-volume-horizontal {
            @include breakpoint($bp-m) {
              height: 4.5em;
            }
          }
        }
      }
    }
  }

  .vjs-play-progress {
    &::before {
      content: "";
      top: 0;
      right: 0;
      width: 2px;
      height: $h-progress;
      background-color: $white;
    }
  }

  .vjs-poster {
    outline: none; /* Remove Blue Outline on Click*/
    outline: 0;
    background: transparent;
    background-position: center;
    background-size: cover;
  }

  .vjs-big-play-button {
    left: 50%;
    top: 50%;
    width: 48px;
    height: 48px;
    margin-left: -24px;
    margin-top: -24px;
    background-color: $rws-blue;
    border: 0;
    border-radius: 0;
    font-size: 4em;
    line-height: 1.2;
    box-shadow: 0 0 0 3px rgba($white, 0.4);
    z-index: 910;

    @include breakpoint($bp-m) {
      width: 64px;
      height: 64px;
      margin-left: -32px;
      margin-top: -32px;
      box-shadow: 0 0 0 4px rgba($white, 0.4);
    }

    &:focus {
      outline-offset: 4px;
    }
  }

  .vjs-icon-placeholder {
    &::before {
      @include breakpoint($bp-m) {
        top: 8px !important;
      }
    }
  }

  .vjs-menu-content {
    font-family: $rijksoverheid-sans;
  }

  .vjs-modal-dialog {
    color: $black;
  }

  .vjs-track-settings-controls {
    button {
      padding: 4px 8px;
    }
  }

  .vjs-icon-audio-description {
    color: rgba($white, 0.6);

    &::before {
      font-size: 2em;
    }

    &.is-active {
      color: $white;
    }
  }

  /**
   * On video hover
   */

  &:hover {
    .vjs-big-play-button {
      background-color: $rws-blue-dark;
    }
  }
}

// sass-lint:enable-all
