//- @pugdoc
  name: Atoom (Pointer)
  example: |
    .pointer-group
      .pointer-group__item
        +pointer("top")
      .pointer-group__item
        +pointer("right")
      .pointer-group__item
        +pointer("bottom")
      .pointer-group__item
        +pointer("left")

mixin pointer(position)
  include ./button

  - var cls = ["pointer--"+position]

  .pointer(class=cls)
    .pointer-inner
      
