//- @pugdoc
  name: Kaart (artikel)

mixin card-article(card)
  include ../../utils/srcset
  include ../atoms/label

  - var cls = ["js-click-block"];

  .card-article(class=cls)

    .card-article__body
      a.card-article__body__title(href=card.link)
        +label(card.label)
        span.card-article__body__title-wrapper
          | #{card.title}

    picture.card-article__image
      +srcset(card.image, self.imageSizes["card-article"])(data-object-fit='cover')