//- @pugdoc
  name: Molecuul (Feitengrid)
  capture: none

mixin fact-grid(facts)
  include ../../rh-icons/_rh-icon
  include ../../utils/slugify

  .fact-grid

    each fact in facts

      - var labelId = 'fact-' + slugify(fact.label);

      .fact-grid__item
        .fact
          .fact__label(id=labelId) #{fact.label}
          .fact__icon(aria-hidden="true")
            +rh-icon(fact.icon)
          .fact__number(aria-labelledby=labelId) #{fact.number}