//- @pugdoc
  name: Molecuul (Quote)
  capture: none

mixin quote(quote, author, avatar)
  include ../../utils/srcset
  
  .quote
    if avatar
      picture.quote__avatar
        +srcset(avatar, self.imageSizes["quote-avatar"])

    blockquote.quote__body 
      p ‘#{quote}’

    if author
      cite.quote__body__author
        | &mdash;&thinsp;#{author}
