//- @pugdoc
  name: Molecuul (Deelballon)
  capture: none

mixin share-balloon()
  include ../atoms/social-list

  .share-balloon(class="js-share-balloon")
    button.button(class="button--share js-share-balloon-button")
      +icon#share
      |Delen

    .share-balloon__body(class="js-share-balloon-body")
      .share-balloon__body-inner
        +social-list