//- @pugdoc
  name: Sectie (Uitgelicht artikel)
  examples:
    - 
      name: Sectie (Uitgelicht artikel)
      example: |
        +section-featured-article({ image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })

mixin section-featured-article(card)
  include ./_setup
  include ../../utils/srcset
  include ../atoms/button
  include ../atoms/label
  
  +section(class='section--featured-article layout-l')

    .featured-article(class="js-click-block")

      .featured-article__body
        a.featured-article__body__title(href=card.link)
          +label(card.label)
          span.featured-article__body__title-wrapper
            | #{card.title}

      picture.featured-article__image
        +srcset(card.image, self.imageSizes["featured-article"])(data-object-fit='cover')
