//- @pugdoc
  name: Sectie (Vacaturezoeker)
  example: |
    +section-react-vacancies
    script
      include ../../../data/vacancies.js
    script(src=`${self.JS_URL}react-vacancies.v${self.version}.js`, defer)

mixin section-react-vacancies
  include ./_setup
  include ../../utils/srcset

  +section(class='section--react-vacancies layout-l')
    #react-vacancies