//- @pugdoc
  name: Sectie (Recruiter carousel)
  examples:
    - 
      name: Sectie (Recruiter carousel, 6)
      example: |
        - var recruiters = [];
        - recruiters.push({name: "Radha Jharap", description: "Recruiter ICT", avatar: "avatar-radhajharap.jpg", image: "big-data.jpg", email: "radha.jharap@rws.nl", phone: "06-29 95 69 44", whatsapp: "06-29 95 69 44"})
        - recruiters.push({name: "Henk Janssen", description: "Recruiter Techniek", avatar: "avatar-henkjanssen.jpg", image: "", email: "henk-janssen@rws.nl", phone: "06-29 95 69 44", whatsapp: "06-29 95 69 44"})
        - recruiters.push({name: "Andre Baars", description: "Recruiter Zakelijk", avatar: "avatar-andrebaars.jpg", image: "knooppunt.jpg", email: "andre.baars@rws.nl", phone: "06-29 95 69 44"})
        - recruiters.push({name: "Andre Ploeg", description: "Recruiter Inkoop", avatar: "avatar-andreploeg.jpg", image: "andre-ploeg.jpg", email: "andre.ploeg@rws.nl", phone: "06-29 95 69 44", whatsapp: "06-29 95 69 44"})
        - recruiters.push({name: "Timo Samson", description: "Recruiter Horeca", avatar: "avatar-timosamson.jpg", image: "snelweg-bij-nacht.jpg", email: "timo.samson@rws.nl"})
        - recruiters.push({name: "Miranda Beer", description: "Recruiter Verkoop", avatar: "avatar-mirandabeer.jpg", image: "stickies-plakken.jpg", email: "miranda.beer@rws.nl", phone: "06-29 95 69 44"})
        +section-recruiter-carousel("Stel je vraag aan één van onze recruiters", recruiters)

mixin section-recruiter-carousel(title, recruiters)
  include ./_setup
  include ../../icons/_icon
  include ../molecules/card-recruiter

  +section(class='section--recruiter-carousel layout-z')
    
    .recruiter-carousel(class="js-carousel")

      .recruiter-carousel__head
        h2.recruiter-carousel__head__title #{title}
        .recruiter-carousel__head__nav

          button.recruiter-carousel__head__nav__prev(class="js-carousel-prev", type="button")
            +icon#chevron
            span.accessibility Vorige slide

          button.recruiter-carousel__head__nav__next(class="js-carousel-next", type="button")
            +icon#chevron
            span.accessibility Volgende slide

      .recruiter-carousel__frame(class="js-carousel-frame")
        .recruiter-carousel__viewport(class="js-carousel-viewport")

          each recruiter in recruiters

            .recruiter-carousel__viewport__item(class="js-carousel-slide")
              +card-recruiter(recruiter)