//- @pugdoc
  name: Sectie (Delen)
  examples:
    - 
      name: Sectie (Delen, artikel)
      example: |
        +section-share("Deel dit artikel")
    - 
      name: Sectie (Delen, evenement)
      example: |
        +section-share("Deel dit evenement")

mixin section-share(title)
  include ./_setup
  include ../atoms/social-list

  +section(class='section--share layout-m')
    .share
      h2.share__title #{title}
      +social-list
