//- @pugdoc
  name: Sectie (Video)
  examples:
    - 
      name: Sectie (Video, content)
      example: |
        -
          var video = {
            source: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-web-hd.mp4", 
            captions: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-ondertiteling.vtt",
            audio: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-audio.mp3",
            text: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-tekst.txt",
            poster: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-still-groot.jpg"
          };
        +section-video(self.SLIM, video)
    - 
      name: Sectie (Video, uitgebroken)
      example: |
        -
          var video = {
            source: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-web-hd.mp4", 
            captions: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-ondertiteling.vtt",
            audio: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-audio.mp3",
            text: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-tekst.txt",
            poster: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-still-groot.jpg"
          };
        +section-video(self.WIDE, video)
    - 
      name: Sectie (Video, content met titel)
      example: |
        -
          var video = {
            source: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-web-hd.mp4", 
            captions: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-ondertiteling.vtt",
            audio: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-audio.mp3",
            text: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-tekst.txt",
            poster: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-still-groot.jpg"
          };
        +section-video(self.SLIM, video, "Vlog stagiair Jenny Epke, een hele lange titel wordt afgebroken met ellipsen.")
    - 
      name: Sectie (Video, uitgebroken met titel)
      example: |
        -
          var video = {
            source: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-web-hd.mp4", 
            captions: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-ondertiteling.vtt",
            audio: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-audio.mp3",
            text: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-tekst.txt",
            poster: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-still-groot.jpg"
          };
        +section-video(self.WIDE, video, "Vlog stagiair Jenny Epke")

mixin section-video(type, video, title)
  include ./_setup
  include ../../utils/srcset
  include ../molecules/video

  - var cls = ['section--video', 'layout-l', 'is-' + type];

  +section(class=cls)

    +video(video, title)