{
  "env": {
    "browser": true,
    "node": true
  },
  "parser": "babel-eslint",
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "rules": {
    "global-require": 1,
    "no-mixed-requires": 1
  },
  "settings": {
    "react": {
      "version": "detect"
    }
  },
  "globals": {
    "window": true,
    "document": true
  }
}