extends _base

include ../components/heroes/hero-content
include ../components/sections/intro
include ../components/sections/richtext
include ../components/sections/quote
include ../components/sections/button-link
include ../components/sections/collapsibles
include ../components/molecules/collapsible
include ../components/sections/contact-person
include ../components/sections/steps
include ../components/sections/image
include ../components/sections/callout-simple
include ../components/sections/featured-testimonial
include ../components/sections/featured-article
include ../components/sections/article-grid
include ../components/sections/video
include ../components/general/takeover

block append vars
  - pageTitle.push("Content voorbeeld");  

block main
  +hero-content('knooppunt.jpg')

  +section-intro("h1. Titel van een pagina", true)
    p Lead. Tunnels, bruggen en sluizen zijn cruciaal binnen het verkeer- en vaarwegennetwerk van Rijkswaterstaat. Deze componenten werken alleen als de achterliggende ICT op orde is. Valt de technologie uit? Dan staat ons land stil. Als onze adviseur industriële automatisering zorg jij daarom dat deze ICT van wereldniveau is.

  +section-richtext
    h2 h2. Heading 2
    p Paragraph. Tijdens de <i>Security Battle</i> kom je alles te weten over hoe de Rijksoverheid omgaat met de dreigingen die dagelijks op <a href="https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle">nationaal niveau</a> op ons afkomen. De 7 SOC’s hebben elk hun eigen verantwoordelijkheid bij het signaleren, monitoren en tegengaan van cyberaanvallen die de <a href="#">nationale veiligheid</a> onder druk zetten.

    h3 h3. Heading 3
    p Paragraph. Tijdens de <i>Security Battle</i> kom je alles te weten over hoe de Rijksoverheid omgaat met de dreigingen die dagelijks op nationaal niveau op ons afkomen. De 7 SOC’s hebben elk hun eigen verantwoordelijkheid bij het signaleren, monitoren en tegengaan van cyberaanvallen die de nationale veiligheid onder druk zetten.

    h2 Lijsten
    ul
      li ul. De ontwikkelingen op het gebied van sensortechnologie
      li Het toepassen van <a href="#">Big Data</a>
      li Het plaatsen van zonnepanelen voor een duurzamer en uiteindelijk energieneutraal netwerk
      li Het hergebruik van de fundering en het asfalt van de weg bij groot onderhoud
      li Het onderzoeken van mogelijkheden voor bermgras als biobrandstof.
    
    ol
      li ol. De ontwikkelingen op het gebied van sensortechnologie
      li Het toepassen van Big Data
      li Het plaatsen van zonnepanelen voor een duurzamer en uiteindelijk energieneutraal netwerk
      li Het hergebruik van de fundering en het asfalt van de weg bij groot onderhoud
      li Het onderzoeken van mogelijkheden voor bermgras als biobrandstof.

    h2 Tabellen
      
    table(border="1" cellpadding="1" cellspacing="1" style="width:100%")
      thead
        tr
          th Data startmoment april
          th Data startmoment april
      tbody
        tr
          td 1 maart: Deadline solliciteren
          td 1 maart: Deadline solliciteren
        tr
          td 15 maart: Selectiedag
          td 15 maart: Selectiedag
        tr
          td 1 april: Startdatum nieuwe traineegroep
          td 1 april: Startdatum nieuwe traineegroep
        
    table(border="1" cellpadding="1" cellspacing="1" style="width:100%")
      tbody
        tr
          th Datum
          td 14 februari 2019 tot 16 februari
        tr 
          th Locatie
          td Hoofdkantoor Rijkswaterstaat, Griffioenlaan 2, Utrecht
        tr 
          th Tijd
          td 13:00 - 21:00 uur

  +section-quote("Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water")
  +section-quote("Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water", "André Baars (Recruiter ICT)")
  +section-quote("Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water", "André Baars (Recruiter ICT)", "avatar-andreploeg.jpg")

  - var items = [];
  - items.push({type: self.BUTTON, label: "Knop link intern", link: "#"});
  - items.push({type: self.BUTTON, label: "Knop link extern", link: "https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle"});
  - items.push({type: self.STRONGLINK, label: "Sterke link intern", link: "#"});
  - items.push({type: self.STRONGLINK, label: "Sterke link extern", link: "https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle"});
  +section-button-link(items)

  +section-collapsibles("Uitklappers")
    +collapsible("Biedt Rijkswaterstaat een leerwerkplek aan?")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in aliquet lacus. Proin pulvinar venenatis dolor ac volutpat. Quisque dignissim, tortor sit amet ullamcorper mollis, ipsum urna cursus mi, a condimentum orci est egestas metus.
      p Vestibulum dictum metus vitae rhoncus scelerisque. Praesent est dolor, aliquet ut feugiat a, vehicula a eros. Integer ultrices sit amet orci sit amet varius. Sed varius lacinia odio, sit amet laoreet est rhoncus nec. Fusce vel est pulvinar, commodo magna ac, pretium enim. Cras laoreet porta dolor, faucibus egestas arcu semper ac.

    +collapsible("Heeft Rijkswaterstaat mogelijkheden voor vakantiewerk?")
      p Voor tijdelijk werk (zoals vakantiewerk) werkt Rijkswaterstaat samen met verschillende <a href="https://nl.wikipedia.org/wiki/Uitzendbureau">uitzendbureaus</a> zoals Randstad en Tempo-Team. Om hiervoor in aanmerking te komen, kun je bij een van deze uitzendbureaus informeren naar de mogelijkheden.

    +collapsible("Mijn vraag staat niet in deze lijst. Wat kan ik doen?")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in aliquet lacus. Proin pulvinar venenatis dolor ac volutpat. Quisque dignissim, tortor sit amet ullamcorper mollis, ipsum urna cursus mi, a condimentum orci est egestas metus. Vestibulum dictum metus vitae rhoncus scelerisque. Praesent est dolor, aliquet ut feugiat a, vehicula a eros. Integer ultrices sit amet orci sit amet varius. Sed varius lacinia odio, sit amet laoreet est rhoncus nec. Fusce vel est pulvinar, commodo magna ac, pretium enim. Cras laoreet porta dolor, faucibus egestas arcu semper ac.

  - var person = {title: 'Direct aanmelden of vragen?', subtitle: '<strong>Luca van Melick</strong> (campus recruiter)', avatar: 'avatar-radhajharap.jpg', phone: '06-29 95 69 44', whatsapp: '0629956944', email: 'campus@rws.nl'};
  +section-contact-person(person)

  - var person = {title: 'Direct aanmelden of vragen?', subtitle: '<strong>André Baars</strong> (Recruiter ICT)', avatar: 'avatar-andreploeg.jpg', email: 'andre.baars@rws.nl'};
  +section-contact-person(person)

  - var person = {title: 'Algemene informatie over de sollicitatieprocedure', subtitle: 'Klanten Contact Centrum', phone: '088-7970788'};
  +section-contact-person(person)

  +section-image(self.SLIM, "dienend-leiderschap.jpg", "Dit is de (optionele) beschrijving.", "Fotograaf: Hendrik-Jan de Vries")

  +section-image(self.WIDE, "tunnel-velsen.jpg", "Deze afbeelding breekt uit voor een ‘immersive’-effect.", "Fotograaf: Hendrik-Jan de Vries")

  -
    var video = {
      source: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-web-hd.mp4", 
      captions: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-ondertiteling.vtt",
      audio: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-audio.mp3",
      text: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-tekst.txt",
      poster: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-still-groot.jpg"
    };
  +section-video(self.SLIM, video)
  
  -
    var video = {
      source: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-web-hd.mp4", 
      captions: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-ondertiteling.vtt",
      audio: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-audio.mp3",
      text: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-tekst.txt",
      poster: "https://www.rovid.nl/ienm/rws/2016/ienm-rws-20161216-idzp549cx-still-groot.jpg"
    };
  +section-video(self.WIDE, video)

  - var button = {label: "Onze inkoop vacatures", link: "#"};
  +section-callout("We zoeken inkoopprofessionals", "De nieuwste technieken, zowel op de hardware als de software van de objecten, kunnen worden toegepast om de constructies en installaties zodanig te vernieuwen.", button)

  +section-featured-article({ image: "tunnel-velsen.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })

  - var items = [];
  - items.push({ image: "viaduct-kampen.jpg", title: "Leon Uijttewaal: ‘Zo werkt de standaardisatie van IT in bruggen, tunnels en sluizen’", link: "", label: "interview" });
  - items.push({ image: "snelweg-bij-nacht.jpg", title: "Marion Straatman: ‘Rijkswaterstaat van start met grootste onderhoudsopgave ooit’", link: "", label: "interview" });
  - items.push({ image: "knooppunt.jpg", title: "Audiotour: Wij zijn bezig `met groot onderhoud aan onze kunstwerken", link: "", label: "podcast" });
  - items.push({ image: "florus_noordhoek.jpg", title: "Hoe ziet de weg van de toekomst er uit?", link: "", label: "innovatie" });
  +section-article-grid(items)

  - var steps = [];
  - steps.push({icon: "man achter pc", title: "Solliciteer en selectie", text: "Solliciteren is mogelijk tot aan de deadline die in de vacaturetekst genoemd wordt. We beoordelen je cv en motivatiebrief op de genoemde functie-eisen."});
  - steps.push({icon: "computer", title: "E-assessment", text: "Voor sommige functies is een online assessment onderdeel van de procedure. In dat geval ontvang je per e-mail meer informatie over de procedure en de uiterlijke inlevertermijn."});
  - steps.push({icon: "kalender", title: "Selectiedag", text: "We nodigen je per telefoon of e-mail uit voor een selectiedag waar je maximaal twee gesprekken voert, afhankelijk van de rol kan een rollenspel ok een onderdeel zijn van de dag."});
  - steps.push({icon: "groep mensen torso", title: "Voordracht kandidaten", text: "Als je de belangrijkste stappen in het selectieproces succesvol hebt doorlopen, draagt de adviseur werving & selectie je voor aan het team waar je geplaatst wordt."});
  - steps.push({icon: "mensen in kracht zetten", title: "In dienst", text: "Je manager nodigt je uit voor een arbeidsvoorwaardengesprek Je krijgt te horen waar en wanneer je kunt beginnen met je nieuwe baan bij de Rijkswaterstaat!"})
  +section-steps("Zo werkt solliciteren bij Rijkswaterstaat", steps)

  +section-richtext
    h2 Testimonial take-over (in content)
    p Paragraph. Tijdens de <i>Security Battle</i> kom je alles te weten over hoe de Rijksoverheid omgaat met de dreigingen die dagelijks op <a href="https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle">nationaal niveau</a> op ons afkomen. De 7 SOC’s hebben elk hun eigen verantwoordelijkheid bij het signaleren, monitoren en tegengaan van cyberaanvallen die de <a href="#">nationale veiligheid</a> onder druk zetten.

  +section-featured-testimonial({ image: "florus_noordhoek.jpg", avatar: "avatar-radhajharap.jpg", quote: "Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water", name: "Radha Jharap", description: "Technisch manager", btn: { label: "Lees haar verhaal", link: "#RadhaJharap" }})

  +section-richtext
    p Paragraph. Tijdens de <i>Security Battle</i> kom je alles te weten over hoe de Rijksoverheid omgaat met de dreigingen die dagelijks op <a href="https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle">nationaal niveau</a> op ons afkomen. De 7 SOC’s hebben elk hun eigen verantwoordelijkheid bij het signaleren, monitoren en tegengaan van cyberaanvallen die de <a href="#">nationale veiligheid</a> onder druk zetten.

block append modals

  +takeover-testimonial("florus_noordhoek.jpg", {avatar: "avatar-radhajharap.jpg", name: "Radha Jharap", position: "Technisch manager"})#RadhaJharap
    p Radha Jharap is technisch manager bij <a href="#">Rijkswaterstaat (RWS)</a>. Haar werk is deels technisch, maar vraagt ook om overleg met experts uit verrassende vakgebieden. Bij de versterking van de Afsluitdijk heeft Marieke bijvoorbeeld contact met ecologen en visdeskundigen.
    blockquote ‘Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water’
    h2 De vorderingen bekijken
    p Sinds 2010 ben ik in vaste dienst bij RWS. 1 van mijn huidige projecten draait om de versterking van de Afsluitdijk, zodat hij de komende 50 jaar superstorm-bestendig zal zijn. Om de waterstanden in het IJsselmeer goed te kunnen regelen gaan we ook grote pompen installeren in de spuisluizen bij Den Oever. Het project moet in 2022 zijn voltooid, en zit nu nog in de planfase. Ik help het managementteam te bepalen hoe we technische problemen kunnen oplossen.
    h2 Minimale verspilling van tijd en geld
    p De komende jaren richt ik me ook op de herstelwerkzaamheden aan de Nijkerkerbrug, die Gelderland met Flevoland verbindt. RWS besteedt dit project op bijzondere manier aan onder de naam Project DOEN. We kiezen de aannemer met wie we de beste samenwerking denken te kunnen aangaan, en we laten hem veel ruimte om na te denken hoe hij dingen wil gaan oplossen.
    