extends _base

include ../components/heroes/hero-content
include ../components/sections/event-intro
include ../components/sections/where-when
include ../components/sections/image
include ../components/sections/video
include ../components/sections/richtext
include ../components/molecules/collapsible
include ../components/sections/collapsibles
include ../components/sections/related-articles
include ../components/sections/line
include ../components/sections/share
include ../components/sections/button-link

block append vars
  - pageTitle.push("Evenement");
  - pagePath = ["Maak kennis", "Security Battle 2019"];

block main
  +hero-content('snelweg-bij-nacht.jpg')

  +section-event-intro(self.EVENT, {from: "14 feb", to: "16 feb"}, "Security Battle 2019")
    p Zit jij in je 3e of 4e jaar van je studie (hbo/wo) of ben je maximaal 2 jaar afgestudeerd en geïnteresseerd in security? Op donderdag 14 februari 2019 organiseren 7 Security Operation Centers (SOC’s) van de Rijksoverheid een Security Battle. We dagen je uit om je kennis over security met ons te delen bij het oplossen van securitydreigingen. Aan welke technieken denk jij? En hoe kunnen we die toepassen bij de Rijksoverheid?

  +section-where-when("Hoofdkantoor Rijkswaterstaat, Griffioenlaan 2, Utrecht", "14 februari 2019, 12:00 - 14:00 uur tot 16 februari 2019, 12:00 - 14:00")

  +section-video(self.WIDE, "//vjs.zencdn.net/v/oceans.mp4")

  +section-richtext
    h2 Programma
    p Tijdens de Security Battle kom je alles te weten over hoe de Rijksoverheid omgaat met de dreigingen die dagelijks op nationaal niveau op ons afkomen. De 7 SOC’s hebben elk hun eigen verantwoordelijkheid bij het signaleren, monitoren en tegengaan van cyberaanvallen die de nationale veiligheid onder druk zetten.

  +section-collapsibles
    +collapsible("Het volledige programma")
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam in aliquet lacus. Proin pulvinar venenatis dolor ac volutpat. Quisque dignissim, tortor sit amet ullamcorper mollis, ipsum urna cursus mi, a condimentum orci est egestas metus.
      p Vestibulum dictum metus vitae rhoncus scelerisque. Praesent est dolor, aliquet ut feugiat a, vehicula a eros. Integer ultrices sit amet orci sit amet varius. Sed varius lacinia odio, sit amet laoreet est rhoncus nec. Fusce vel est pulvinar, commodo magna ac, pretium enim. Cras laoreet porta dolor, faucibus egestas arcu semper ac.

  +section-richtext
    h2 Capture the flag
    p Na de sessies spelen we een Capture the Flag. Dat wordt jouw moment om je kennis optimaal te benutten en mee te strijden voor de prijzen.

  +section-image(self.WIDE, "event.jpg")

  +section-richtext
    h2 Waar en wanneer? 
    table
      tbody
        tr
          th Datum
          td 14 februari 2019 tot 16 februari
        tr 
          th Locatie
          td Hoofdkantoor Rijkswaterstaat, Griffioenlaan 2, Utrecht
        tr 
          th Tijd
          td 13:00 - 21:00 uur

  +section-button-link([{type: self.BUTTON, label: "Aanmelden", link: "#"}])

  +section-share("Deel dit evenement")

  +section-line

  //- related articles
  - var cards = [];
  - cards.push({ type: self.EVENT, image: "knooppunt.jpg", title: "Webinar Circulaire infrastructuur", text: "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur door de ogen van Rijkswaterstaat.", link: "", date: { from: "12 dec", to: "14 dec" } })
  - cards.push({ type: self.EVENT, image: "snelweg-bij-nacht.jpg", title: "Inhouselunch", text: "Ben je benieuwd naar wat het traineeship bij Rijkswaterstaat inhoudt en wil je even de sfeer proeven? Kom dan naar onze Inhouselunch.", link: "", date: { from: "16 dec", to: null } })
  - cards.push({ type: self.ARTICLE, image: "tunnel-velsen.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
  +section-related-articles("Maak kennis", { label: "Toon meer", link: "" }, cards)

