extends _base

include ../components/heroes/hero-content
include ../components/sections/intro
include ../components/sections/branches

block append vars
  - pageTitle.push("Vakgebieden");
  - pagePath = ["Vakgebieden"];

block main
  +hero-content('sluis.jpg')

  +section-intro("Vakgebieden")
    p Wil jij samen met een ambitieuze groep mensen meewerken aan Nederland? En onderdeel uitmaken van projecten die ons land verder brengen?

  - var branches = [];
  - branches.push({image: "big-data.jpg", title: "ICT", text: "Wil jij meewerken aan een slimmere en veiligere infrastructuur?", vacancyNr: 12});
  - branches.push({image: "tunnel-velsen.jpg", title: "Techniek", text: "Verhelp jij een storing voordat iemand er iets van merkt?", vacancyNr: 8});
  - branches.push({image: "viaduct-kampen.jpg", title: "Inkoop", text: "Wil jij meewerken?", vacancyNr: 24});
  - branches.push({image: "viaduct-kampen.jpg", title: "Inkoop", text: "Wil jij meewerken aan een slimmere en veiligere infrastructuur?", vacancyNr: 3});    
  - branches.push({image: "tunnel-velsen.jpg", title: "Techniek", text: "Verhelp jij een storing?", vacancyNr: 16});
  - branches.push({image: "big-data.jpg", title: "ICT", text: "Wil jij meewerken aan een slimmere en veiligere infrastructuur?", vacancyNr: 1});
  +section-branches(branches, {label: "Bekijk alle vacatures", link: "#", number: 60})
