//- @pugdoc
  name: Sectie (Artikelgrid)
  examples:
    - 
      name: Sectie (Artikelgrid, 4)
      example: |
        - var items = [];
        - items.push({ image: "tunnel-velsen.jpg", title: "Leon Uijttewaal: ‘Zo werkt de standaardisatie van IT in bruggen, tunnels en sluizen’", link: "", label: "interview" });
        - items.push({ image: "snelweg-bij-nacht.jpg", title: "Marion Straatman: ‘Rijkswaterstaat van start met grootste onderhoudsopgave ooit’", link: "", label: "interview" });
        - items.push({ image: "knooppunt.jpg", title: "Audiotour: Wij zijn bezig `met groot onderhoud aan onze kunstwerken", link: "", label: "podcast" });
        - items.push({ image: "florus_noordhoek.jpg", title: "Hoe ziet de weg van de toekomst er uit?", link: "", label: INNOVATION });
        +section-article-grid(items)
    - 
      name: Sectie (Artikelgrid, 3)
      example: |
        - var items = [];
        - items.push({ image: "tunnel-velsen.jpg", title: "Leon Uijttewaal: ‘Zo werkt de standaardisatie van IT in bruggen, tunnels en sluizen’", link: "", label: "interview" });
        - items.push({ image: "snelweg-bij-nacht.jpg", title: "Marion Straatman: ‘Rijkswaterstaat van start met grootste onderhoudsopgave ooit’", link: "", label: "interview" });
        - items.push({ image: "knooppunt.jpg", title: "Audiotour: Wij zijn bezig `met groot onderhoud aan onze kunstwerken", link: "", label: "podcast" });
        +section-article-grid(items)
    - 
      name: Sectie (Artikelgrid, 2)
      example: |
        - var items = [];
        - items.push({ image: "tunnel-velsen.jpg", title: "Leon Uijttewaal: ‘Zo werkt de standaardisatie van IT in bruggen, tunnels en sluizen’", link: "", label: "interview" });
        - items.push({ image: "snelweg-bij-nacht.jpg", title: "Marion Straatman: ‘Rijkswaterstaat van start met grootste onderhoudsopgave ooit’", link: "", label: "interview" });
        +section-article-grid(items)
    - 
      name: Sectie (Artikelgrid, 1)
      example: |
        - var items = [];
        - items.push({ image: "tunnel-velsen.jpg", title: "Leon Uijttewaal: ‘Zo werkt de standaardisatie van IT in bruggen, tunnels en sluizen’", link: "", label: "interview" });
        +section-article-grid(items)

mixin section-article-grid(items)
  include ./_setup
  include ../../utils/srcset
  include ../atoms/button
  include ../atoms/label
  
  +section(class='section--article-grid layout-l')

    .article-grid

      each item in items

        .article-grid__item-wrap
          
          .article-grid__item

            .article-grid__item__body
              a.article-grid__item__body__title(href=item.link)
                +label(item.label, item.icon)
                span.article-grid__item__body__title-wrapper
                  | #{item.title}

            picture.article-grid__item__image
              +srcset(item.image, self.imageSizes["article-grid"])(data-object-fit='cover')
