//- @pugdoc
  name: Sectie (Knop of sterke link)
  examples:
    - 
      name: Sectie (Knop of sterke link)
      example: | 
        - var items = [];
        - items.push({type: self.BUTTON, label: "Knop link intern", link: "#"});
        - items.push({type: self.BUTTON, label: "Knop link extern", link: "https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle"});
        - items.push({type: self.STRONGLINK, label: "Sterke link intern", link: "#"});
        - items.push({type: self.STRONGLINK, label: "Sterke link extern", link: "https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle"});
        +section-button-link(items)

mixin section-button-link(items)
  include ./_setup
  include ../atoms/button
  include ../atoms/stronglink

  +section()(class='section--button-link layout-m')
    
    .button-link

      each item in items
        if item.type == self.BUTTON
          +button(item.label, item.link)
        if item.type == self.STRONGLINK
          +stronglink(item.label, item.link)
      