//- @pugdoc
  name: Sectie (Callout billboard)
  examples: 
    -
      name: Sectie (Callout billboard, titel)
      example: |
        +section-callout-billboard('snelweg-bij-nacht.jpg', 'Nederland beschermen tegen cyberaanvallen?')
    -
      name: Sectie (Callout billboard, titel en tekst)
      example: |
        +section-callout-billboard('snelweg-bij-nacht.jpg', 'Nederland beschermen tegen cyberaanvallen?', 'Op 14 februari 2019 organiseren wij een Security Battle op onze locatie in Utrecht.')
    -
      name: Sectie (Callout billboard, titel, tekst en knop)
      example: |
        +section-callout-billboard('snelweg-bij-nacht.jpg', 'Nederland beschermen tegen cyberaanvallen?', 'Op 14 februari 2019 organiseren wij een Security Battle op onze locatie in Utrecht.', {label: 'Meld je nu aan', link: '#'})
    -
      name: Sectie (Callout billboard, titel, tekst en knop, rechts)
      example: |
        +section-callout-billboard('snelweg-bij-nacht.jpg', 'Nederland beschermen tegen cyberaanvallen?', 'Op 14 februari 2019 organiseren wij een Security Battle op onze locatie in Utrecht.', {label: 'Meld je nu aan', link: '#'}, true)

mixin section-callout-billboard(image, title, text, button, alignRight)
  include ./_setup
  include ../../utils/todo
  include ../atoms/button
  include ../../utils/srcset

  +section(class='section--callout-billboard layout-z')
    .callout-billboard
      picture.callout-billboard__picture
        +srcset(image, self.imageSizes["callout-billboard"], "")

      .callout-billboard__body
        .callout-billboard__body-inner
          .callout-billboard__body__pointer(class=(alignRight ? "callout-billboard__body__pointer--right" : "callout-billboard__body__pointer--left"))
            .callout-pointer
              .callout-pointer-inner
                
                if title
                  h2.callout-pointer__title #{title}

                if text
                  .callout-pointer__text 
                    p #{text}
                
                if button
                  +button(button.label, button.link)
