//- @pugdoc
  name: Sectie (Callout quote)
  example: |
    +section-callout-quote('andre-ploeg.jpg', 'Zorgen voor technische systemen in 2 tunnels achter elkaar, dat is echt een mooie puzzel', {name: 'André Ploeg', position: 'Projectmanager', avatar: 'avatar-andreploeg.jpg'}, {label: 'Lees het interview', link: '#'})

mixin section-callout-quote(image, title, person, button)
  include ./_setup
  include ../../utils/todo
  include ../atoms/button
  include ../../utils/srcset
  include ../general/takeover

  +section(class='section--callout-quote layout-z')
    
    .callout-quote
      picture.callout-quote__picture
        +srcset(image, self.imageSizes["callout-quote"], "")

      .callout-quote__body
        .callout-quote__body-inner
          .callout-quote__body__pointer
            .testimonial-pointer
              .testimonial-pointer-inner
                .testimonial-pointer__title ‘#{title}’
                .testimonial-pointer__person
                  picture.testimonial-pointer__person__avatar
                    +srcset(person.avatar, self.imageSizes["callout-quote-avatar"])
                  .testimonial-pointer__person__info
                    .testimonial-pointer__person__info__meta
                      span.testimonial-pointer__person__info__meta__name #{person.name}
                      span.testimonial-pointer__person__info__meta__position #{person.position}
                    +button(button.label, button.link)
