//- @pugdoc
  name: Sectie (Contact en delen)
  examples:
    - 
      name: Sectie (Contact en delen)
      example: |
        include contact-share
        - var person = {title: 'Vragen over ICT vacatures?', subtitle: 'Stel ze aan <strong>André Baars</strong> (Recruiter ICT)', avatar: 'avatar-andrebaars.jpg', phone: '06-29 95 69 44', whatsapp: '0629956944', email: 'andre.baars@rws.nl'};
        +section-contact-share(person)

mixin section-contact-share(persons)
  include ./_setup
  include ../atoms/social-list
  include ../molecules/contact-person

  if !Array.isArray(persons) && typeof persons === 'object'
    - persons = [].concat(persons);

  +section(class='section--contact-share layout-xl')

    .contact-share
      
      .contact-share__persons
        each person in persons
          +contact-person(person)

      .contact-share__social
        h2.contact-share__social__title Ken jij de geschikte kandidaat?
        .contact-share__social__text Tip hem of haar via:
        +social-list
