//- @pugdoc
  name: Sectie (Contactpersoon)
  example: |
    - var person = {title: 'Direct aanmelden of vragen?', subtitle: '<strong>Luca van Melick</strong> (campus recruiter)', avatar: 'avatar-radhajharap.jpg', phone: '06-29 95 69 44', whatsapp: '0629956944', email: 'campus@rws.nl'};
    +section-contact-person(person)

    - var person = {title: 'Direct aanmelden of vragen?', subtitle: '<strong>André Baars</strong> (Recruiter ICT)', avatar: 'avatar-andreploeg.jpg', email: 'andre.baars@rws.nl'};
    +section-contact-person(person)

    - var person = {title: 'Algemene informatie over de sollicitatieprocedure', subtitle: 'Klanten Contact Centrum', phone: '088-7970788'};
    +section-contact-person(person)

mixin section-contact-person(person)
  include ./_setup
  include ../molecules/contact-person

  +section(class='section--contact-person layout-l')
    +contact-person(person)
