//- @pugdoc
  name: Sectie (Call to action)
  examples:
    - 
      name: Sectie (Call to action, basic)
      example: |
        +section-cta("Interesse in een baan bij Rijkswaterstaat?", {"label": "Neem contact met ons op", "link": "contact.html"})
    - 
      name: Sectie (Call to action, number)
      example: |
        +section-cta("Werk jij mee aan de toekomst van Nederland?", {"label": "Bekijk alle vacatures", "link": "#", "number": "60"})

mixin section-cta(title, button)
  include ./_setup
  include ../../icons/_icon
  include ../atoms/button

  +section(title)(class='section--cta layout-xl')
    .cta
      +button(button.label, button.link, button.number)