//- @pugdoc
  name: Sectie (Evenement intro)
  examples:
    - 
      name: Sectie (Evenement intro, dubbele datum)
      example: |
        +section-event-intro(self.self.EVENT, {from: "14 feb", to: "16 feb"}, "Security Battle 2019")
          p Zit jij in je 3e of 4e jaar van je studie (hbo/wo) of ben je maximaal 2 jaar afgestudeerd en geïnteresseerd in security? Op donderdag 14 februari 2019 organiseren 7 Security Operation Centers (SOC’s) van de Rijksoverheid een Security Battle. We dagen je uit om je kennis over security met ons te delen bij het oplossen van securitydreigingen. Aan welke technieken denk jij? En hoe kunnen we die toepassen bij de Rijksoverheid?
    
    - 
      name: Sectie (Evenement intro, dubbele datum, lange titel)
      example: |
        +section-event-intro(self.self.EVENT, {from: "28 mrt", to: "29 mrt"}, "Doe je mee aan de landelijke Security Battle 2019?")
          p Zit jij in je 3e of 4e jaar van je studie (hbo/wo) of ben je maximaal 2 jaar afgestudeerd en geïnteresseerd in security? Op donderdag 14 februari 2019 organiseren 7 Security Operation Centers (SOC’s) van de Rijksoverheid een Security Battle. We dagen je uit om je kennis over security met ons te delen bij het oplossen van securitydreigingen. Aan welke technieken denk jij? En hoe kunnen we die toepassen bij de Rijksoverheid?

    - 
      name: Sectie (Evenement intro, enkele datum)
      example: |
        +section-event-intro(self.self.EVENT, {from: "14 feb"}, "Inhouselunch")
          p Regelmatig organiseren wij Inhousedagen op onze locatie in Utrecht om toekomstige trainees kennis te laten maken met ons en onze organisatie. Op deze dagen bieden wij een inhoudelijk programma zodat je een goed idee krijgt van onze organisatie en kun je bijvoorbeeld speed daten met collega’s en vragen stellen aan trainees. 

    - 
      name: Sectie (Evenement intro, enkele datum, lange titel)
      example: |
        +section-event-intro(self.self.EVENT, {from: "28 mrt"}, "Doe je mee aan de landelijke Security Battle 2019?")
          p Zit jij in je 3e of 4e jaar van je studie (hbo/wo) of ben je maximaal 2 jaar afgestudeerd en geïnteresseerd in security? Op donderdag 14 februari 2019 organiseren 7 Security Operation Centers (SOC’s) van de Rijksoverheid een Security Battle. We dagen je uit om je kennis over security met ons te delen bij het oplossen van securitydreigingen. Aan welke technieken denk jij? En hoe kunnen we die toepassen bij de Rijksoverheid?

mixin section-event-intro(category, date, title)
  include ./_setup
  include ../atoms/date

  +section(class='section--event-intro layout-m')
    .event-intro
      .event-intro__head
        .event-intro__head__date

          +date(date)

        .event-intro__head__main
          a.event-intro__head__main__category(href="#") #{category}
          h1.event-intro__head__main__title #{title}
        
      .event-intro__text
        block