//- @pugdoc
  name: Sectie (Feiten)
  examples:
    - 
      name: Sectie (Feiten, content, 4)
      example: |
        - var facts = []
        - facts.push({ label: "Werknemers", icon: "groep mensen torso", number: "8700" })
        - facts.push({ label: "Locaties", icon: "ondernemingen", number: "83" })
        - facts.push({ label: "Actieve projecten", icon: "vaste brug", number: "44" })
        - facts.push({ label: "Deltawerken", icon: "stormvloedkering", number: "13" })
        +section-facts(self.SLIM, null, facts)
    - 
      name: Sectie (Feiten, content, 2)
      example: |
        - var facts = []
        - facts.push({ label: "Werknemers", icon: "groep mensen torso", number: "8700" })
        - facts.push({ label: "Locaties", icon: "ondernemingen", number: "83" })
        +section-facts(self.SLIM, null, facts)
    - 
      name: Sectie (Feiten, volledig)
      example: |
        - var intro = {title: "Werken aan een veilig, leefbaar en bereikbaar Nederland", text: "Ontdek onze geschiedenis en waarden die onze organisatie sturen.", button: {label: "Meer over ons", link: "over-ons.html"}}
        - var facts = []
        - facts.push({ label: "Werknemers", icon: "groep mensen torso", number: "8700" })
        - facts.push({ label: "Locaties", icon: "ondernemingen", number: "83" })
        - facts.push({ label: "Actieve projecten", icon: "vaste brug", number: "44" })
        - facts.push({ label: "Deltawerken", icon: "stormvloedkering", number: "13" })
        +section-facts(self.WIDE, intro, facts)

mixin section-facts(type, intro, facts)
  include ./_setup
  include ../atoms/button
  include ../molecules/fact-grid

  - var cls = ['section--facts', 'layout-l'];
  - cls.push("is-" + type)

  +section(title)(class=cls)

    .facts
      if intro
        .facts__intro
          h2.facts__intro__title #{intro.title}
          .facts__intro__text 
            p #{intro.text}
          .facts__intro__button
            +button(intro.button.label, intro.button.link)
      .facts__body
        +fact-grid(facts)