//- @pugdoc
  name: Sectie (Uitgelichte vacatures)
  examples:
    - 
      name: Sectie (Uitgelichte vacatures, 1)
      example: |
        - var cards = [];
        - cards.push({ title: "BIG Data Database administrator", link: ".", location: "Utrecht", hours: "40 uren per week", degree: "Master / doctoraal" })
        +section-featured-vacancies("Onze ICT-vacatures", 'Wij hebben regelmatig vacatures in de volgende vakgebieden: <a href="#">Big data</a> industriële automatisering, <a href="#">service management</a>, <a href="#">applicatiemanagement</a> en projectmanagement.', cards, {label: "Bekijk alle ICT-vacatures", link: ".", number: "18"})
    - 
      name: Sectie (Uitgelichte vacatures, 2)
      example: |
        - var cards = [];
        - cards.push({ title: "Adviseur watermodellen en -applicaties", link: ".", location: "Utrecht", hours: "40 uren per week", degree: "Bachelor - HBO, Master / doctoraal" })
        - cards.push({ title: "BIG Data Database administrator", link: ".", location: "Utrecht", hours: "40 uren per week", degree: "Master / doctoraal" })
        +section-featured-vacancies("Onze ICT-vacatures", 'Wij hebben regelmatig vacatures in de volgende vakgebieden: <a href="#">Big data</a> industriële automatisering, <a href="#">service management</a>, <a href="#">applicatiemanagement</a> en projectmanagement.', cards, {label: "Bekijk alle ICT-vacatures", link: ".", number: "18"})
    - 
      name: Sectie (Uitgelichte vacatures, 3)
      example: |
        - var cards = [];
        - cards.push({ title: "Changemanager tunnels, elektrotechniek en industriële automatisering", link: ".", location: "Amsterdam", hours: "32 - 40 uren per week", degree: "Bachelor - HBO" })
        - cards.push({ title: "Adviseur watermodellen en -applicaties", link: ".", location: "Utrecht", hours: "40 uren per week", degree: "Bachelor - HBO, Master / doctoraal" })
        - cards.push({ title: "BIG Data Database administrator", link: ".", location: "Utrecht", hours: "40 uren per week", degree: "Master / doctoraal" })
        +section-featured-vacancies("Onze ICT-vacatures", 'Wij hebben regelmatig vacatures in de volgende vakgebieden: <a href="#">Big data</a> industriële automatisering, <a href="#">service management</a>, <a href="#">applicatiemanagement</a> en projectmanagement.', cards, {label: "Bekijk alle ICT-vacatures", link: ".", number: "18"})

mixin section-featured-vacancies(title, intro, cards, button)
  include ./_setup
  include ../atoms/button
  include ../molecules/card-vacancy

  +section(title, intro)(class='section--featured-vacancies layout-z')
    .featured-vancancies
      each card in cards
        .featured-vacancies__item
          +card-vacancy(card)

    .featured-vancancies-more
      +button(button.label, button.link, button.number)
