//- @pugdoc
  name: Sectie (Uitgelichte testimonial)
  examples:
    - 
      name: Sectie (Uitgelichte testimonial)
      example: |
        include ../general/takeover
        +section-featured-testimonial({ image: "florus_noordhoek.jpg", avatar: "avatar-radhajharap.jpg", quote: "Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water", name: "Radha Jharap", description: "Technisch manager", btn: { label: "Lees haar verhaal", link: "#RadhaJharap" }})
        
        <!-- plaats dit na div#content -->

        +takeover-testimonial("florus_noordhoek.jpg", {avatar: "avatar-radhajharap.jpg", name: "Radha Jharap", position: "Technisch manager"})#RadhaJharap
          p Radha Jharap is technisch manager bij <a href="#">Rijkswaterstaat (RWS)</a>. Haar werk is deels technisch, maar vraagt ook om overleg met experts uit verrassende vakgebieden. Bij de versterking van de Afsluitdijk heeft Marieke bijvoorbeeld contact met ecologen en visdeskundigen.
          blockquote ‘Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water’
          h2 De vorderingen bekijken
          p Sinds 2010 ben ik in vaste dienst bij RWS. 1 van mijn huidige projecten draait om de versterking van de Afsluitdijk, zodat hij de komende 50 jaar superstorm-bestendig zal zijn. Om de waterstanden in het IJsselmeer goed te kunnen regelen gaan we ook grote pompen installeren in de spuisluizen bij Den Oever. Het project moet in 2022 zijn voltooid, en zit nu nog in de planfase. Ik help het managementteam te bepalen hoe we technische problemen kunnen oplossen.
          h2 Minimale verspilling van tijd en geld
          p De komende jaren richt ik me ook op de herstelwerkzaamheden aan de Nijkerkerbrug, die Gelderland met Flevoland verbindt. RWS besteedt dit project op bijzondere manier aan onder de naam Project DOEN. We kiezen de aannemer met wie we de beste samenwerking denken te kunnen aangaan, en we laten hem veel ruimte om na te denken hoe hij dingen wil gaan oplossen.

mixin section-featured-testimonial(card)
  include ./_setup
  include ../../utils/srcset
  include ../atoms/button
  include ../atoms/label
  
  +section(class='section--featured-testimonial layout-l')
    
    .featured-testimonial(class="js-click-block")
      
      //- body
      .featured-testimonial__body
        picture.featured-testimonial__body__avatar
          +srcset(card.avatar, self.imageSizes["featured-testimonial-avatar"])

        blockquote.featured-testimonial__body__quote &lsquo;#{card.quote}&rsquo;

        strong.featured-testimonial__body__name #{card.name}
        span.featured-testimonial__body__description #{card.description}

      //- image
      picture.featured-testimonial__image
        +srcset(card.image, self.imageSizes["featured-testimonial"])

      //- footer
      .featured-testimonial__footer
        +button(card.btn.label, card.btn.link)
