//- @pugdoc
  name: Sectie (Uitgelichte inhoud)
  examples:
    - 
      name: Sectie (Uitgelichte inhoud, 3)
      example: |
        include highlight

        - var item = {type: self.IMAGE, media: "smart-mobility.jpg", quote: "", title: "", text: ""};
        - item.quote = "Dankzij de informatietechnologie zal de infrastructuur van de toekomst nog slimmer en veiliger worden.";
        - item.title = "Smart mobility";
        - item.text = "Om Nederland ook in de toekomst bereikbaar, veilig en leefbaar te houden, willen we de kansen benutten die nieuwe informatie- en communicatietechnologieën ons bieden. We ondersteunen praktijktesten op de openbare weg en werken daarbij samen met onder meer de RDW."
        - item.link = {label: "Infrastructuur vacatures", href: "#"};

        +section-highlight(item)

        - var item = {type: self.VIDEO, media: "big-data.jpg", quote: "", title: "", text: ""};
        - item.quote = "Nieuwe oplossingen om het wegennet en de vaarwegen beter te benutten en veiliger te maken.";
        - item.title = "Het toepassen van Big Data";
        - item.text = "Bij Rijkswaterstaat stap je in een grote, complexe IV-wereld die belangrijk is voor Nederland en steeds belangrijker wordt. Zo biedt big data mogelijkheden om nieuwe informatie en inzichten uit de enorme hoeveelheid data te genereren."
        - item.link = {label: "(Data)analyse vacatures", href: "#"};

        +section-highlight(item, true)

        - var item = {type: self.IMAGE, media: "tunnel-velsen.jpg", quote: "", title: "", text: ""};
        - item.quote = "Slimme vervoersnetwerken waarin auto’s en schepen informatie uitwisselen met de infrastructuur en elkaar.";
        - item.title = "Slimme vervoersnetwerken";
        - item.text = "Waarin (vracht)auto’s en schepen informatie uitwisselen met de infrastructuur en elkaar. Zodat een schip automatisch zijn snelheid aanpast aan het tijdstip waarop het de brug passeert. Of zodat de zelfrijdende auto veilig de weg op kan."
        - item.link = {label: "Slimme vervoersnetwerken in actie", href: "#"};

        +section-highlight(item)
    - 
      name: Sectie (Uitgelichte inhoud, afbeelding)
      example: |
        include highlight

        - var item = {type: self.IMAGE, media: "smart-mobility.jpg", quote: "", title: "", text: ""};
        - item.quote = "Dankzij de informatietechnologie zal de infrastructuur van de toekomst nog slimmer en veiliger worden.";
        - item.title = "Smart mobility";
        - item.text = "Om Nederland ook in de toekomst bereikbaar, veilig en leefbaar te houden, willen we de kansen benutten die nieuwe informatie- en communicatietechnologieën ons bieden. We ondersteunen praktijktesten op de openbare weg en werken daarbij samen met onder meer de RDW."
        - item.link = {label: "Infrastructuur vacatures", href: "#"};
        
        +section-highlight(item)

    - 
      name: Sectie (Uitgelichte inhoud, video)
      example: |
        include highlight
        - var item = {type: self.VIDEO, media: "big-data.jpg", quote: "", title: "", text: ""};
        - item.quote = "Nieuwe oplossingen om het wegennet en de vaarwegen beter te benutten en veiliger te maken.";
        - item.title = "Het toepassen van Big Data";
        - item.text = "Bij Rijkswaterstaat stap je in een grote, complexe IV-wereld die belangrijk is voor Nederland en steeds belangrijker wordt. Zo biedt big data mogelijkheden om nieuwe informatie en inzichten uit de enorme hoeveelheid data te genereren."
        - item.link = {label: "(Data)analyse vacatures", href: "#"};

        +section-highlight(item)

mixin section-highlight(item, reverse)
  include ./_setup
  include ../../utils/srcset
  include ../atoms/stronglink
  include ../atoms/button-play

  +section(class='section--highlight layout-xl')

    .highlight(class=(reverse ? 'highlight--reverse' : ''))

      .highlight__content
        h2.highlight__content__title #{item.title}
        .highlight__content__text #{item.text}

        if item.link
          +stronglink(item.link.label, item.link.href)

      .highlight__media(class=(item.type === self.VIDEO ? "highlight__media--video" : ""))

        .highlight__media__picture-wrap
          if item.type === self.VIDEO
            +button-play(item.videoId, item.videobox)

          picture.highlight__media__picture
            +srcset(item.media, self.imageSizes["highlight"], "")

      .highlight__quote 
        .highlight__quote-inner
          .highlight__quote__body
            |#{item.quote}