//- @pugdoc
  name: Sectie (Intro, home)
  examples:
    - 
      name: Sectie (Intro, home)
      example: |
        +section-intro-home("Hoe help jij Nederland verder?")
          p Samen met circa 8.700 collega’s werken we in een innovatieve omgeving aan projecten die er echt toe doen. Kleine, grote en hele grote projecten die de veiligheid, leefbaarheid en bereikbaarheid van Nederland verbeteren.

mixin section-intro-home(title)
  include ./_setup

  +section(class='section--intro-home layout-l')
    .intro-home
      h2.intro-home__title #{title}
      .intro-home__text
        block
