//- @pugdoc
  name: Sectie (Intro)
  examples:
    - 
      name: Sectie (Intro, landing)
      example: |
        +section-intro("Vakgebied")
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a quam vitae neque ultrices rhoncus ac at ante. Curabitur scelerisque urna ac luctus pharetra. Nam rhoncus mattis tellus eu faucibus. Donec sit amet arcu hendrerit, tincidunt mauris eu, laoreet libero. Curabitur vitae libero laoreet, dapibus diam et, viverra justo. Nullam faucibus sagittis elementum. Sed sed ex sed neque vehicula dignissim eu eu orci. Curabitur ornare sollicitudin urna at convallis. Donec vulputate lacus a urna luctus hendrerit. Vivamus elit mi, pulvinar sit amet nibh placerat, ultrices imperdiet sapien. Nam viverra mauris a porta sodales.

    - 
      name: Sectie (Intro, content)
      example: |
        +section-intro("Vakgebied", true)
          p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce a quam vitae neque ultrices rhoncus ac at ante. Curabitur scelerisque urna ac luctus pharetra. Nam rhoncus mattis tellus eu faucibus. Donec sit amet arcu hendrerit, tincidunt mauris eu, laoreet libero. Curabitur vitae libero laoreet, dapibus diam et, viverra justo. Nullam faucibus sagittis elementum. Sed sed ex sed neque vehicula dignissim eu eu orci. Curabitur ornare sollicitudin urna at convallis. Donec vulputate lacus a urna luctus hendrerit. Vivamus elit mi, pulvinar sit amet nibh placerat, ultrices imperdiet sapien. Nam viverra mauris a porta sodales.

mixin section-intro(title, isContent)
  include ./_setup

  - var cls = [];

  if isContent
    - cls.push("intro--content");

  +section(class='section--intro layout-m')
    .intro(class=cls)
      h1.intro__title #{title}
      .intro__text
        block
