//- @pugdoc
  name: Sectie (Lijn)
  examples:
    - 
      name: Sectie (Lijn)
      example: |
        +section-line

mixin section-line
  include ./_setup

  +section(class='section--line layout-xl')
    .line
