//- @pugdoc
  name: Sectie (Podcastgrid)
  examples:
    - 
      name: Sectie (Podcastgrid, 4)
      example: |
        include ./podcast-grid
        - var items = [];
        - items.push({ chapeau: "Aflevering 1", title: "Leon Wijnker, Technisch manager", subtitle: "Renovatie en innovatie Beatrixsluis", posterImg: "antenna.jpg" });
        - items.push({ audio: "/static/audio/audio-instawalk.mp3", chapeau: "Aflevering 2", title: "Dick Schaafsma, Bruggenexpert", subtitle: "Belasting bruggen en slimme oplossingen", posterImg: "A15-Barendrecht-Maasvlakte.jpg" });
        - items.push({ audio: "/static/audio/value-engineering.mp3", chapeau: "Aflevering 3", title: "Ansel Velthof, Contractmanager DOEN", subtitle: "Samenwerken met de juiste partij", posterImg: "circulair.jpg" });
        - items.push({ chapeau: "Aflevering 4", title: "Hilde Koopmans, Sustainability advisor", subtitle: "Duurzaam renoveren", posterImg: "zie-jij.jpg" });
        +section-podcast-grid(items)
    - 
      name: Sectie (Podcastgrid, 3)
      example: |
        include ./podcast-grid
        - var items = [];
        - items.push({ chapeau: "Aflevering 1", title: "Leon Wijnker, Technisch manager", subtitle: "Renovatie en innovatie Beatrixsluis", posterImg: "antenna.jpg" });
        - items.push({ audio: "/static/audio/audio-instawalk.mp3", chapeau: "Aflevering 2", title: "Dick Schaafsma, Bruggenexpert", subtitle: "Belasting bruggen en slimme oplossingen", posterImg: "A15-Barendrecht-Maasvlakte.jpg" });
        - items.push({ audio: "/static/audio/value-engineering.mp3", chapeau: "Aflevering 3", title: "Ansel Velthof, Contractmanager DOEN", subtitle: "Samenwerken met de juiste partij", posterImg: "circulair.jpg" });
        +section-podcast-grid(items)
    - 
      name: Sectie (Podcastgrid, 2)
      example: |
        include ./podcast-grid
        - var items = [];
        - items.push({ chapeau: "Aflevering 1", title: "Leon Wijnker, Technisch manager", subtitle: "Renovatie en innovatie Beatrixsluis", posterImg: "antenna.jpg" });
        - items.push({ audio: "/static/audio/audio-instawalk.mp3", chapeau: "Aflevering 2", title: "Dick Schaafsma, Bruggenexpert", subtitle: "Belasting bruggen en slimme oplossingen", posterImg: "A15-Barendrecht-Maasvlakte.jpg" });
        +section-podcast-grid(items, true)
    - 
      name: Sectie (Podcastgrid, 1)
      example: |
        include ./podcast-grid
        - var items = [];
        - items.push({ chapeau: "Aflevering 1", title: "Leon Wijnker, Technisch manager", subtitle: "Renovatie en innovatie Beatrixsluis", posterImg: "antenna.jpg" });
        +section-podcast-grid(items)

mixin section-podcast-grid(items, showButton)
  include ./_setup
  include ../../utils/srcset
  include ../../icons/_icon
  include ../molecules/audio
  include ../atoms/button
  
  +section(class='section--podcast-grid layout-xl')

    .podcast-grid

      each item in items

        .podcast-grid__item
          
          +audio(item)

      if showButton
        .podcast-grid__footer
          a.spotify-btn(href="#")
            .spotify-btn__icon
              +icon#spotify

            .spotify-btn__label De hele serie op Spotify