//- @pugdoc
  name: Sectie (Gerelateerde artikelen)
  examples:
    - 
      name: Sectie (Gerelateerde artikelen, 1a)
      example: |
        - var cards = [];
        - cards.push({ type: self.EVENT, image: "knooppunt.jpg", title: "Webinar Circulaire infrastructuur", text: "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur door de ogen van Rijkswaterstaat.", link: "", date: { from: "12 dec", to: "14 dec" } })
        +section-related-articles("Ontmoet ons", { label: "Toon meer", link: "" }, cards)
    - 
      name: Sectie (Gerelateerde artikelen, 1b)
      example: |
        - var cards = [];
        - cards.push({ type: self.ARTICLE, image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
        +section-related-articles("Ontmoet ons", { label: "Toon meer", link: "" }, cards)
    - 
      name: Sectie (Gerelateerde artikelen, 2a)
      example: |
        - var cards = [];
        - cards.push({ type: self.EVENT, image: "snelweg-bij-nacht.jpg", title: "Inhouselunch", text: "Ben je benieuwd naar wat het traineeship bij Rijkswaterstaat inhoudt en wil je even de sfeer proeven? Kom dan naar onze Inhouselunch.", link: "", date: { from: "16 dec", to: null } })
        - cards.push({ type: self.ARTICLE, image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
        +section-related-articles("Ontmoet ons", { label: "Toon meer", link: "" }, cards)
    - 
      name: Sectie (Gerelateerde artikelen, 2b)
      example: |
        - var cards = [];
        - cards.push({ type: self.ARTICLE, image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
        - cards.push({ type: self.ARTICLE, image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
        +section-related-articles("Ontmoet ons", { label: "Toon meer", link: "" }, cards)
    - 
      name: Sectie (Gerelateerde artikelen, 3a)
      example: |
        - var cards = [];
        - cards.push({ type: self.EVENT, image: "knooppunt.jpg", title: "Webinar Circulaire infrastructuur", text: "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur door de ogen van Rijkswaterstaat.", link: "", date: { from: "12 dec", to: "14 dec" } })
        - cards.push({ type: self.EVENT, image: "snelweg-bij-nacht.jpg", title: "Inhouselunch", text: "Ben je benieuwd naar wat het traineeship bij Rijkswaterstaat inhoudt en wil je even de sfeer proeven? Kom dan naar onze Inhouselunch.", link: "", date: { from: "16 dec", to: null } })
        - cards.push({ type: self.ARTICLE, image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
        +section-related-articles("Ontmoet ons", { label: "Toon meer", link: "" }, cards)
    - 
      name: Sectie (Gerelateerde artikelen, 3b)
      example: |
        - var cards = [];
        - cards.push({ type: self.ARTICLE, image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
        - cards.push({ type: self.ARTICLE, image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
        - cards.push({ type: self.ARTICLE, image: "smart-mobility.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
        +section-related-articles("Ontmoet ons", { label: "Toon meer", link: "" }, cards)
    - 
      name: Sectie (Gerelateerde artikelen, 3c)
      example: |
        - var cards = [];
        - cards.push({ type: self.EVENT, image: "snelweg-bij-nacht.jpg", title: "Inhouselunch", text: "Ben je benieuwd naar wat het traineeship bij Rijkswaterstaat inhoudt en wil je even de sfeer proeven? Kom dan naar onze Inhouselunch.", link: "", date: { from: "16 dec", to: null } })
        - cards.push({ type: self.EVENT, image: "snelweg-bij-nacht.jpg", title: "Inhouselunch", text: "Ben je benieuwd naar wat het traineeship bij Rijkswaterstaat inhoudt en wil je even de sfeer proeven? Kom dan naar onze Inhouselunch.", link: "", date: { from: "16 dec", to: null } })
        - cards.push({ type: self.EVENT, image: "snelweg-bij-nacht.jpg", title: "Inhouselunch", text: "Ben je benieuwd naar wat het traineeship bij Rijkswaterstaat inhoudt en wil je even de sfeer proeven? Kom dan naar onze Inhouselunch.", link: "", date: { from: "16 dec", to: null } })
        +section-related-articles("Ontmoet ons", { label: "Toon meer", link: "" }, cards)


mixin section-related-articles(title, link, cards)
  include ./_setup
  include ../molecules/card-article
  include ../molecules/card-event

  +section(title, null, link)(class='section--related-articles layout-xl')
    .related-articles
      each card in cards
        .related-articles__item
          if card.type === self.EVENT
            +card-event(card)
          else if card.type === self.ARTICLE
            +card-article(card)
