//- @pugdoc
  name: Sectie (Timeline about)
  examples:
    - 
      name: Sectie (Timeline about)
      example: |
          include ../general/takeover
          -
            var people = [];
            people.push({
              avatar: "avatar-andrebaars.jpg",
              name: "Ruud Wijdeven",
              description: "Contractmanager ICT",
              link: "RuudWijdeven"
            });
            people.push({
              avatar: "avatar-mirandabeer.jpg",
              name: "Mirjam de Vries",
              description: "Bruggenexpert",
              link: "MirjamDeVries"
            });
            people.push({
              avatar: "avatar-andreploeg.jpg",
              name: "Paul Hendrixk",
              description: "Inkoper",
              link: "PaulHendrixk"
            });
            people.push({
              avatar: "avatar-timosamson.jpg",
              name: "Herman Driessen",
              description: "Weginspecteur",
              link: "HermanDriessen"
            });

          +section-timeline-about("about", people, "https://www.rijkswaterstaat.nl/water/projectenoverzicht/samen-werken-aan-een-bereikbaar-zeeland/index.aspx")
            p Het is de grootste onderhoudsopgave in onze geschiedenis. Bovendien een programma met een lange adem. Het renoveren en vervangen van de bestaande infrastructuur duurt zeker tot 2030. De totale vervangingswaarde bedraagt vele miljarden euro’s.
            blockquote Veel sluizen en bruggen in Zeeland stammen uit de jaren 50, 60, 70 en 80, het (scheepvaart)verkeer is sindsdien enorm toegenomen
            p Tijdens de werkzaamheden benutten we meteen de mogelijkheid om onze sluizen en bruggen veiliger en duurzamer te maken. Zo zorgen we voor een vlotte en veilige doorstroming van het verkeer. Ook in de toekomst.

          each person in people
            +takeover-testimonial("florus_noordhoek.jpg", {avatar: person.avatar, name: person.name, position: person.description})(id=person.link)
              p Radha Jharap is technisch manager bij <a href="#">Rijkswaterstaat (RWS)</a>. Haar werk is deels technisch, maar vraagt ook om overleg met experts uit verrassende vakgebieden. Bij de versterking van de Afsluitdijk heeft Marieke bijvoorbeeld contact met ecologen en visdeskundigen.
              blockquote ‘Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water’


mixin section-timeline-about(id, people, link)
  include ./_setup
  include ../../utils/srcset
  include ../../utils/todo
  include ../../icons/_icon
  include ../molecules/video
  include ../molecules/audio
  include ../molecules/quote
  include ../molecules/person
  include ../atoms/stronglink

  +section(class='section--timeline-about layout-s js-timeline-tab', id="tab-"+id)&attributes(attributes)

    .timeline-about
      .timeline-about__content
        block

      .timeline-about__link
        +stronglink("Meer over dit project", link)

      .timeline-about__people
        h2.timeline-about__people__title Bijdragers aan deze nieuwsfeed
        
        .timeline-about__people__grid

          each person in people
            .timeline-about__people__grid__item
              +person(person.avatar, person.name, person.description, person.link)