//- @pugdoc
  name: Sectie (Timeline tabs)
  examples:
    - 
      name: Sectie (Timeline tabs)
      example: |
        - var buttons = [];
        - buttons.push({ id: "updates", label: "Updates", active: true, number: 8 });
        - buttons.push({ id: "about", label: "Over dit project" });
        +section-timeline-tabs(buttons)

mixin section-timeline-tabs(buttons)
  include ./_setup
  include ../../utils/srcset
  
  +section(class='section--timeline-tabs layout-s')

    .timeline-tabs

      each button in buttons
        
        - var cls = ["js-timeline-button"];
        
        if button.active
          - cls.push("is-active")
        
        button.timeline-tabs__button(role="tab", aria-selected=(button.active ? "true" : "false"), aria-controls="tab-" + button.id, id="button-" + button.id, class=cls) 
          | #{button.label}
              
          if button.number
            span.timeline-tabs__button__number #{button.number}
