//- @pugdoc
  name: Sectie (Solliciteren)
  example: |
    +section-vacancy-apply("13 februari 2019")

mixin section-vacancy-apply(date)
  include ./_setup
  include ../molecules/vacancy-apply

  +section(class='section--vacancy-apply layout-m')
    +vacancy-apply(date)
