/**
 * content only visible for screenreaders
 */

@mixin accessibility {
  position: absolute;
  left: -999em;
  top: -100em;
  color: white;
  background-color: $black;
  font-weight: normal;
  height: 0;
}

.accessibility {
  @include accessibility;
}

/**
 * Focus outline
 */

@mixin focus-outline($color: $black, $width: 1px, $offset: 3px) {
  outline: $width solid rgba($color, 0.75);
  outline-offset: $offset;
}

/**
 * Focus shadow
 * only used when outline isn't pretty
 */

@mixin focus-shadow($color: $black, $width: 1px) {
  box-shadow: 0 0 0 $width rgba($color, 0.75);
}

/**
 * Focusable element
 * adds focus outline for mouse-focus only (see track-focus.js)
 */

@mixin focusable($color: $black, $width: 1px, $offset: 3px) {
  outline: 0;

  [data-whatinput="keyboard"] & {
    &:focus {
      @include focus-outline($color, $width, $offset);
      @content;
    }
  }
}
