$grid-item-spacing-s: 7.5px;
$grid-item-spacing-m: 15px;
$grid-item-spacing-l: 20px;

$outside-gutter-s: 15px - $grid-item-spacing-s;
$outside-gutter-m: 30px - $grid-item-spacing-m;
$outside-gutter-l: 40px - $grid-item-spacing-l;

@mixin page-spacing-s {
  padding-left: $outside-gutter-s;
  padding-right: $outside-gutter-s;
}

@mixin page-spacing-m {
  padding-left: $outside-gutter-m;
  padding-right: $outside-gutter-m;
}

@mixin page-spacing-l {
  padding-left: $outside-gutter-l;
  padding-right: $outside-gutter-l;
}

@mixin page-spacing {
  @include page-spacing-s;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  @include breakpoint($bp-m) {
    @include page-spacing-m;
  }

  @include breakpoint($bp-l) {
    @include page-spacing-l;
  }
}

/**
 * Grid
 */

@mixin grid {
  display: flex;
  flex-wrap: wrap;
  max-width: #{$w-container + $outside-gutter-l + $grid-item-spacing-l};
  margin-left: auto;
  margin-right: auto;
}

@function grid-calc($columns, $total: 12) {
  @return calc(100% / #{$total} * #{$columns});
}

/**
 * Grid item
 */

@mixin grid-item-spacing-left($multiplier: 1) {
  padding-left: $grid-item-spacing-s * $multiplier;

  @include breakpoint($bp-m) {
    padding-left: $grid-item-spacing-m * $multiplier;
  }

  @include breakpoint($bp-l) {
    padding-left: $grid-item-spacing-l * $multiplier;
  }
}

@mixin grid-item-spacing-right($multiplier: 1) {
  padding-right: $grid-item-spacing-s * $multiplier;

  @include breakpoint($bp-m) {
    padding-right: $grid-item-spacing-m * $multiplier;
  }

  @include breakpoint($bp-l) {
    padding-right: $grid-item-spacing-l * $multiplier;
  }
}

@mixin grid-item-spacing {
  @include grid-item-spacing-left;
  @include grid-item-spacing-right;
}

@mixin grid-item($columns, $total: 12) {
  @include grid-item-spacing;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: grid-calc($columns, $total);
}

@mixin grid-item-spaceless($columns, $total: 12) {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  width: grid-calc($columns, $total);
}

/**
 * Gutter calculation utilities
 * can be used to align a block with margins to the gutter instead of the column
 * { margin-left: gutter-margin-s(-1) } // margin-left: calc(-x%);
 */

@function gutter-margin-s($multiplier: 1) {
  @return calc(
    #{$multiplier} * ((100vw - (12 * #{$grid-item-spacing-s} * 2) - (#{$outside-gutter-s} * 2)) / 12) - #{$grid-item-spacing-s}
  );
}

@function gutter-margin-m($multiplier: 1) {
  @return calc(
    #{$multiplier} * ((100vw - (12 * #{$grid-item-spacing-m} * 2) - (#{$outside-gutter-m} * 2)) / 12) - #{$grid-item-spacing-m}
  );
}

@function gutter-margin-l($multiplier: 1) {
  @return calc(
    #{$multiplier} * ((100vw - (12 * #{$grid-item-spacing-l} * 2) - (#{$outside-gutter-l} * 2)) / 12) - #{$grid-item-spacing-l}
  );
}

@function gutter-margin-xl($multiplier: 1) {
  @return calc(
    #{$multiplier} * ((#{$bp-xl + ($grid-item-spacing-l * 2)} - (13 * #{$grid-item-spacing-l} * 2)) / 12) - #{$grid-item-spacing-l}
  );
}

@function gutter-padding-s() {
  @return calc((100vw - (13 * #{$grid-item-spacing-s} * 2)) / 12);
}

@function gutter-padding-m() {
  @return calc((100vw - (13 * #{$grid-item-spacing-m} * 2)) / 12);
}

@function gutter-padding-l() {
  @return calc((100vw - (13 * #{$grid-item-spacing-l} * 2)) / 12);
}

@function gutter-padding-xl() {
  @return calc((#{$bp-xl + ($grid-item-spacing-l * 2)} - (13 * #{$grid-item-spacing-l} * 2)) / 12);
}

/**
 * DEMO ONLY Grid
 */

.demo-grid-overlay {
  @include page-spacing;
  max-width: #{$w-container + 96px};
  position: fixed;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  pointer-events: none;
  width: 100% !important;
  margin: 0 auto !important;

  .demo-grid {
    height: 100%;
  }

  .demo-grid__item {
    span {
      background-color: rgba($rh-red, 0.25);
    }
  }
}

.demo-grid {
  @include grid;
}

.demo-grid__item {
  @include grid-item(1);

  span {
    display: block;
    height: 100%;
    background-color: blue;
    color: $white;
  }
}

.demo-grid--full {
  .demo-grid__item {
    @include grid-item(8);
    max-width: grid-calc(8);
  }
}

.demo-grid--text {
  .demo-grid__item {
    @include grid-item(8);
    max-width: grid-calc(8);
  }
}

.demo-grid--video {
  .demo-grid__item {
    @include grid-item(10);
    max-width: grid-calc(10);
  }
}

.demo-grid--half {
  .demo-grid__item {
    @include grid-item(6);
  }
}

.demo-grid--third {
  .demo-grid__item {
    @include grid-item(4);
  }
}

.demo-grid--quarter {
  .demo-grid__item {
    @include grid-item(3);
  }
}
