.card-event {
  @include card-bordered;
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 2px 7px 0 rgba($black, 0.15);

    .card-event__body__title {
      color: $rws-blue-dark;
      text-decoration: underline;
    }
  }
}

/**
 * Body
 */

.card-event__body {
  order: 1;
  padding: 20px;
  z-index: 1;
}

.card-event__body__title {
  @include h3;
  color: $rws-blue;
  text-decoration: none;
  display: block;
}

.card-event__body__text {
  @include base;

  margin-top: 4px;
}

/**
 * Head
 */

.card-event__head {
  position: relative;
  order: 0;
  margin: -1px;
  z-index: 1;
  height: 0;
  padding-top: 56.25%;
}

.card-event__head__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  img {
  }
}

.card-event__head__date {
  position: absolute;
  top: 20px;
  left: 20px;

  @include breakpoint($bp-m) {
    .date__item {
      padding: 8px 16px;
    }
  }
}
