/**
 * Scroll cards container
 */

@mixin cards-scroll {
  @include grid;
  width: 100%;
  flex-wrap: nowrap;

  @include breakpoint(max $bp-scrolltrack) {
    justify-content: flex-start;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 20px;
  }
}

@mixin cards-scroll-item {
  @include grid-item(4);
  position: relative;
  width: 90vw;
  max-width: 413px;
  flex-shrink: 0;
  flex-grow: 0;
  padding-left: 15px;

  &:last-of-type {
    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      right: -15px;
      width: 15px;
      height: 1px;
    }
  }

  @include breakpoint($bp-s) {
    width: 45vw;
    padding-right: 0;
  }

  @include breakpoint($bp-m) {
    padding-left: 30px;

    &:last-of-type {
      &::after {
        right: -30px;
        width: 30px;
      }
    }
  }

  @include breakpoint($bp-scrolltrack) {
    @include grid-item(4);
  }
}

/**
 * Bordered card
 */

@mixin card-bordered {
  background-color: $white;
  border-radius: 4px;
  overflow: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  color: $rh-grey-10;
  cursor: pointer;
  position: relative;

  &::after {
    z-index: 0;
    display: block;
    content: "";
    pointer-events: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid $rh-grey-3;
  }
}

/**
 * Image card
 */

@mixin card-image {
  background: $white;
  background-color: $white;
  border-radius: 4px;
  height: 100%;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

@mixin card-image-gradient {
  &::after {
    content: "";
    display: block;
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(-180deg, rgba($black, 0) 35%, rgba($black, 0.7) 100%);
  }
}

@mixin card-image-title {
  display: block;
  font-size: 22px;
  line-height: 1.3;
  font-weight: bold;
  color: $white;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  padding: 15px;

  @include breakpoint($bp-m) {
    font-size: 24px;
    padding: 24px;
  }
}

@mixin card-image-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
