.card-video {
  @include card-image;

  &:hover {
    box-shadow: 0 2px 7px 0 rgba($black, 0.15);

    .button-play {
      background-color: $rws-blue-dark;
    }

    .card-video__body__title {
      text-decoration: underline;
    }
  }
}

.card-video__body {
  @include card-image-gradient;

  .button-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
  }
}

.card-video__body__title {
  @include card-image-title;
}

.card-video__image {
  @include card-image-img;
}
