.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -2px;
}

.gallery__item {
  position: relative;
  display: block;
  flex-basis: calc(50% - 4px);
  margin: 2px;

  &:only-of-type {
    flex-basis: 100%;
  }

  &:hover {
    &::after {
      opacity: 0.15;
    }
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $black;
    opacity: 0;
    transition: opacity 0.15s ease;
  }
}

.gallery__item__image {
  img {
    display: block;
  }
}
