.hero-content {
  position: relative;
  height: 150px;

  @include breakpoint($bp-m) {
    height: 275px;
  }

  @include breakpoint($bp-xl) {
    height: 400px;
  }
}

.hero-content__picture {
  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
  }
}
