.hero-timeline {
  position: relative;
  height: 65vh;
  overflow: hidden;

  @include breakpoint($bp-m) {
    max-height: 380px;
  }

  @include breakpoint($bp-l) {
    max-height: 480px;
  }

  @include breakpoint($bp-xl) {
    max-height: 560px;
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(0deg, rgba($black, 0.4) 0%, rgba($black, 0.3) 56%, rgba($black, 0) 100%);
  }
}

.hero-timeline-inner {
  height: 100%;
}

/**
 * Picture
 */

.hero-timeline__picture {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include breakpoint($bp-m) {
    height: 380px;
  }

  @include breakpoint($bp-l) {
    height: 480px;
  }

  @include breakpoint($bp-xl) {
    height: 560px;
  }
}

/**
 * Video
 */

.hero-timeline__video-wrap {
  display: block;
  position: relative;
  height: 100%;
  overflow: hidden;

  margin: 0 auto;

  @include breakpoint(max $bp-m) {
    .video-accessibility-btn {
      right: 15px;
      top: 15px;
    }
  }

  @include breakpoint($bp-m) {
    height: 380px;
  }

  @include breakpoint($bp-l) {
    height: 480px;
  }

  @include breakpoint($bp-xl) {
    height: 560px;
  }
}

.hero-timeline__video {
  display: block;
  object-fit: cover;
  object-position: center center;
  width: 100%;
  height: 100%;
}

/**
 * Body
 */

.hero-timeline__body {
  @include page-spacing;
  position: absolute;
  bottom: 0;
  z-index: 100;
}

.hero-timeline__body-inner {
  @include grid;
}

/**
 * Intro
 */

.hero-timeline-intro {
  @include grid-item(12);
  max-width: calc(#{$w-content} + #{$grid-item-spacing-s} * 2);
  margin: 0 auto;

  text-align: center;

  @include breakpoint($bp-m) {
    max-width: calc(#{$w-content} + #{$grid-item-spacing-m} * 2);
  }

  @include breakpoint($bp-l) {
    max-width: calc(#{$w-content} + #{$grid-item-spacing-l} * 2);
  }
}

.hero-timeline-intro__label {
  display: inline-block;
  padding: 6px 8px 5px;
  background-color: $rws-yellow;
  font-weight: bold;
  font-size: 12px;
  text-transform: uppercase;
  color: $rh-grey-10;
  text-decoration: none;
  transition: background-color 0.2s ease;

  margin-bottom: 12px;

  &:hover {
    background-color: $rws-yellow-dark-alt;
  }

  @include breakpoint($bp-m) {
    margin-bottom: 16px;
    font-size: 14px;
  }
}

.hero-timeline-intro__title {
  font-family: $rijksoverheid-serif;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 2px 2px 2px rgba($black, 0.3);
  color: $white;

  font-size: 28px;
  margin-bottom: 8px;

  @include breakpoint($bp-s) {
    font-size: 32px;
  }

  @include breakpoint($bp-m) {
    font-size: 56px;
    margin-bottom: 12px;
  }
}

.hero-timeline-intro__text {
  font-family: $rijksoverheid-sans;
  font-weight: bold;
  line-height: 1.5;
  text-shadow: 1px 1px 2px rgba($black, 0.5);
  color: $white;

  font-size: 16px;
  margin-bottom: 40px;

  @include breakpoint($bp-s) {
    font-size: 18px;
  }

  @include breakpoint($bp-m) {
    font-size: 22px;
    margin-bottom: 64px;
  }
}
