extends _base

include ../components/sections/meet-us

block append vars
  - pageTitle.push("Artikelen");
  - pagePath = ["Maak kennis", "Artikelen"];

block main

  +section-meet-us({ noEvents: true, branchLabel: "<h1>Artikelen</h1> over" })
