extends _base

include ../components/heroes/hero-home
include ../components/sections/intro-home
include ../components/sections/branches
include ../components/sections/callout-quote
include ../components/sections/highlight
include ../components/sections/line
include ../components/sections/cta
include ../components/sections/facts
include ../components/sections/meet-us

block append vars
  - pageTitle.push("Home");
  - isHome = true;

block main
  - var button = {label: "Ontdek onze audiotour", link: "#"}
  +hero-home(self.VIDEO, {video: "/static/video/rws-film.mp4", poster: "rws-yt.png"}, "Groot onderhoud aan onze kunstwerken", button)

  +section-intro-home("Hoe help jij Nederland verder?")
    p Samen met circa 8.700 collega’s werken we in een innovatieve omgeving aan projecten die er echt toe doen. Kleine, grote en hele grote projecten die de veiligheid, leefbaarheid en bereikbaarheid van Nederland verbeteren.

  - var branches = [];
  - branches.push({image: "big-data.jpg", title: "ICT", text: "Wil jij meewerken aan een slimmere en veiligere infrastructuur?", vacancyNr: 12});
  - branches.push({image: "tunnel-velsen.jpg", title: "Techniek", text: "Verhelp jij een storing voordat iemand er iets van merkt?", vacancyNr: 8});
  - branches.push({image: "viaduct-kampen.jpg", title: "Inkoop", text: "Wil jij meewerken?", vacancyNr: 24});
  - branches.push({image: "viaduct-kampen.jpg", title: "Inkoop", text: "Wil jij meewerken aan een slimmere en veiligere infrastructuur?", vacancyNr: 3});    
  - branches.push({image: "tunnel-velsen.jpg", title: "Techniek", text: "Verhelp jij een storing?", vacancyNr: 16});
  - branches.push({image: "big-data.jpg", title: "ICT", text: "Wil jij meewerken aan een slimmere en veiligere infrastructuur?", vacancyNr: 1});
  +section-branches(branches, {label: "Meer vakgebieden", link: "#", ghost: true}, true)

  +section-callout-quote('andre-ploeg.jpg', 'Zorgen voor technische systemen in 2 tunnels achter elkaar, dat is echt een mooie puzzel', {name: 'André Ploeg', position: 'Projectmanager', avatar: 'avatar-andreploeg.jpg'}, {label: 'Lees het interview', link: '#'})

  +section-intro-home("Maak kennis met ons")
    p Wil jij samen met een ambitieuze groep mensen meewerken aan Nederland? En onderdeel uitmaken van projecten die ons land verder brengen?

  -
    var items = []
    items.push({
      "category": "podcast",
      "branche": "verkoop",
      "image": "zandsuppletie.jpg",
      "title": "Audiotour: Wij zijn bezig met groot onderhoud aan onze kunstwerken",
      "text": "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur door de ogen van Rijkswaterstaat.",
      "link": "",
      "icon": "audio",
      "featured": true
    });

    items.push({
      "category": "evenement",
      "branche": "techniek",
      "date": { "from": "16 dec", "to": "" },
      "image": "infratech.jpg",
      "title": "Infratech 2019, kom je ook?",
      "text": "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur door de ogen van Rijkswaterstaat.",
      "link": "",
      "featured": true
    });

    items.push({
      "category": "webinar",
      "branche": "bedrijfsvoering",
      "image": "stickies-plakken.jpg",
      "title": "Webinar Circulaire infrastructuur",
      "text":
        "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur door de ogen van Rijkswaterstaat.",
      "link": "",
      "icon": ""
    });

    items.push({
      "category": "interview",
      "branche": "verkoop",
      "image": "vlootvervanging.jpg",
      "title": "‘Rijkswaterstaat van start met grootste onderhoudsopgave ooit’",
      "text": "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur.",
      "link": "",
      "icon": "audio"
    });

    items.push({
      "category": "vlog",
      "branche": "verkoop",
      "image": "zandmotorcongres.jpg",
      "title": "Onze innovatie experts testen de nieuwste drones",
      "text":
        "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur door de ogen van Rijkswaterstaat.",
      "link": "",
      "icon": "video"
    });

  +section-meet-us-static(items)

  - var intro = {title: "Werken aan een veilig, leefbaar en bereikbaar Nederland", text: "Ontdek onze geschiedenis en waarden die onze organisatie sturen.", button: {label: "Meer over ons", link: "over-ons.html"}}
  - var facts = []
  - facts.push({ label: "Werknemers", icon: "groep mensen torso", number: "8700" })
  - facts.push({ label: "Locaties", icon: "ondernemingen", number: "83" })
  - facts.push({ label: "Actieve projecten", icon: "vaste brug", number: "44" })
  - facts.push({ label: "Deltawerken", icon: "stormvloedkering", number: "13" })
  +section-facts(self.WIDE, intro, facts)

  - var item = {type: self.IMAGE, media: "dienend-leiderschap.jpg", quote: "", title: "", text: ""};
  - item.quote = "Dankzij je stage heb je een voorsprong bij het verwerven van een goede baan bij Rijkswaterstaat";
  - item.title = "Op zoek naar een stage?";
  - item.text = "Je kunt onder meer stage lopen bij specialistische afdelingen op het gebied van verkeer- en watermanagement, aanleg- en onderhoud, omgeving- en assetmanagement, maar ook bij algemene afdelingen als HRM, communicatie en inkoop."
  - item.link = {label: "Rijkswaterstaat voor studenten", href: "#" };

  +section-highlight(item)

  +section-line

  +section-cta("Werk jij mee aan de toekomst van Nederland?", {label: "Bekijk alle vacatures", link: "#", number: "60"})