extends _base

include ../components/heroes/hero-content
include ../components/sections/intro
include ../components/sections/podcast-grid

block append vars
  - pageTitle.push("Podcasts");
  - pagePath = ["Podcasts"];

block main
  +hero-content('antenna.jpg')

  +section-intro("Goede gesprekken over werken bij Rijkswaterstaat", true)
    p ‘Werken aan de toekomst’ is een podcast waarin wetenschapsjournalist Adriaan terBraack in gesprek gaat met experts van Rijkswaterstaat. Zij vertellen van alles over hun vakgebied en hoe ze elke dag iets bijdragen aan de toekomst van Nederland.

  - var items = [];
  - items.push({ chapeau: "Aflevering 1", title: "Leon Wijnker, Technisch manager", subtitle: "Renovatie en innovatie Beatrixsluis", posterImg: "antenna.jpg" });
  - items.push({ audio: "/static/audio/audio-instawalk.mp3", chapeau: "Aflevering 2", title: "Dick Schaafsma, Bruggenexpert", subtitle: "Belasting bruggen en slimme oplossingen", posterImg: "A15-Barendrecht-Maasvlakte.jpg" });
  - items.push({ audio: "/static/audio/value-engineering.mp3", chapeau: "Aflevering 3", title: "Ansel Velthof, Contractmanager DOEN", subtitle: "Samenwerken met de juiste partij", posterImg: "circulair.jpg" });
  - items.push({ chapeau: "Aflevering 4", title: "Hilde Koopmans, Sustainability advisor", subtitle: "Duurzaam renoveren", posterImg: "zie-jij.jpg" });
  
  +section-podcast-grid(items, true)