extends _base

include ../components/heroes/superhero
include ../components/sections/richtext
include ../components/sections/intro
include ../components/sections/highlight
include ../components/sections/featured-vacancies
include ../components/sections/callout-quote
include ../components/sections/related-articles
include ../components/sections/line
include ../components/sections/featured-testimonials
include ../components/sections/contact-share
include ../components/sections/callout-billboard
include ../components/sections/cta
include ../components/sections/testimonial-head

block append vars
  - pageTitle.push("Studenten");
  - pagePath = ["Studenten"];

block main
  - var button = {label: "Bekijk de stages", link: "#", number: "10"}
  +superhero(self.IMAGE, "dienend-leiderschap.jpg", "Wil je Rijkswaterstaat eens van binnenuit meemaken?", button)

  +section-intro("Rijkswaterstaat voor studenten")
    p Wil je Rijkswaterstaat eens van binnenuit meemaken? En ben je op zoek naar een stageplaats? We bieden een scala aan stagemogelijkheden voor diverse opleidingsniveaus in heel Nederland.

  - var item = {type: self.IMAGE, media: "stickies-plakken.jpg", quote: "", title: "", text: ""};
  - item.quote = "Dankzij je stage of afstudeeropdracht heb je een voorsprong bij het verwerven van een goede baan bij Rijkswaterstaat";
  - item.title = "Waarom stage lopen?";
  - item.text = "Een stage biedt je de mogelijkheid om alvast werkervaring op te doen in een functie die je aanspreekt. Ook kun je bij Rijkswaterstaat je bachelor of master afronden. Dankzij je stage of afstudeeropdracht heb je een voorsprong bij het verwerven van een goede baan bij Rijkswaterstaat en kan dit eventueel meewegen bij de selectie van ons traineeship."

  +section-highlight(item)

  //- featured vacancies
  - var cards = [];
  - cards.push({ title: "Stagiair communicatie", link: ".", location: "Rijswijk of Utrecht", hours: "32 uren per week", degree: "Bachelor - HBO" })
  - cards.push({ title: "Stagiair werving en selectie", link: ".", location: "Utrecht", hours: "32 - 40 uren per week", degree: "Master / doctoraal, Bachelor - HBO" })
  - cards.push({ title: "Stagiair onderzoek meerjarenovereenkomst", link: ".", location: "Utrecht", hours: "32 - 36 uren per week", degree: "Master / doctoraal, Bachelor - HBO" })
  +section-featured-vacancies("Onze stagevacatures", "Benieuwd welke stagevacatures er zijn? Het huidige stageaanbod, met de omschrijving van de stageopdrachten en de beschrijving van je stagewerkzaamheden.", cards, {label: "Bekijk alle stagevacatures", link: ".", number: "10"})

  +section-callout-quote('sluis.jpg', 'Je krijgt ongelofelijk veel mogelijkheden en je wordt overal mee naartoe genomen.', {name: 'Melissa de Jong', position: 'Stagiair communicatie', avatar: 'vlog-melissa.jpg'}, {label: 'Lees zijn verhaal', link: '#MelissaDeJong'})
  
  //- related articles
  - var cards = [];
  - cards.push({ type: self.EVENT, image: "aantrekkelijk-werkgeverschap.jpg", title: "Webinar Circulaire infrastructuur", text: "Onze experts gaan tijdens dit webinar in op het thema: Circulaire infrastructuur door de ogen van Rijkswaterstaat.", link: "", date: { from: "12 dec", to: "14 dec" } })
  - cards.push({ type: self.EVENT, image: "inhouse-lunch.jpg", title: "Inhouselunch", text: "Ben je benieuwd naar wat het traineeship bij Rijkswaterstaat inhoudt en wil je even de sfeer proeven? Kom dan naar onze Inhouselunch.", link: "", date: { from: "16 dec", to: null } })
  - cards.push({ type: self.ARTICLE, image: "drone.jpg", title: "Harold van Waveren: ‘Ik wilde niets liever dan Nederland beschermen tegen hoogwater’", link: "", label: "interview" })
  +section-related-articles("Ontmoet ons", { label: "Toon meer", link: "" }, cards)

  +section-line

  - var item = {type: self.IMAGE, media: "stickies-plakken.jpg", quote: "", title: "", text: ""};
  - item.quote = "Dankzij je stage of afstudeeropdracht heb je een voorsprong bij het verwerven van een goede baan bij Rijkswaterstaat";
  - item.title = "Waarom stage lopen?";
  - item.text = "Een stage biedt je de mogelijkheid om alvast werkervaring op te doen in een functie die je aanspreekt. Ook kun je bij Rijkswaterstaat je bachelor of master afronden. Dankzij je stage of afstudeeropdracht heb je een voorsprong bij het verwerven van een goede baan bij Rijkswaterstaat en kan dit eventueel meewegen bij de selectie van ons traineeship."
  - item.link = {label: "Bekijk onze afdelingen", href: "#"};

  +section-highlight(item)

  - var item = {type: self.IMAGE, media: "captain-cocreation.jpg", quote: "", title: "", text: ""};
  - item.quote = "Op de stagedag maak je kennis met de andere stagiairs en neem je een kijkje achter de schermen.";
  - item.title = "Naast het werk";
  - item.text = "2 keer per jaar organiseren we een stagedag voor alle stagiaires. Op deze dag kun je kennismaken en netwerken met andere stagiaires binnen de organisatie en een kijkje nemen achter de schermen bij andere afdelingen. "
  - item.link = {label: "Meer over onze stagedag", href: "#"};

  +section-highlight(item, true)


  //- testimonials
  - var cards = [];
  - cards.push({ type: self.TESTIMONIAL, image: "andre-ploeg.jpg", avatar: "vlog-melissa.jpg", quote: "Je krijgt ongelofelijk veel mogelijkheden en je wordt overal mee naartoe genomen.", btn: { label: "Lees haar verhaal", link: "#MariekeVanAcht" }})
  - cards.push({ type: self.VIDEO, image: "dienend-leiderschap.jpg", title: "5 vragen aan ICT-stagiair Jason", link: "#JasonICT"})
  - cards.push({ type: self.VIDEO, image: "vlog-melissa.jpg", title: "De dag van Maartje bij Centrale Informatie voorzieningen", link: "#Maartje" })
  +section-featured-testimonials("Stagiairs vertellen", cards)

  +section-callout-billboard('snelweg-bij-nacht.jpg', 'Nederland beschermen tegen cyberaanvallen?', 'Op 14 februari 2019 organiseren wij een Security Battle op onze locatie in Utrecht.', {label: 'Meld je nu aan', link: '#'})
  
  - var person = {name: 'André Baars', title: 'Vragen over ICT vacatures?', avatar: 'avatar-andrebaars.jpg', position: 'Recruiter ICT', phone: '06-29 95 69 44', whatsapp: '0629956944', email: 'andre.baars@rws.nl'};
  +section-contact-share(person)
