//- @pugdoc
  name: Hero (Vacatures)
  example: |
    +hero-vacancies("snelweg-bij-nacht.jpg")

mixin hero-vacancies(image)
  include ../../utils/todo
  include ../../utils/srcset
  include ../../icons/_icon
  include ../atoms/button

  - var cls = ["layout-z"];

  .hero-vacancies(class=cls)
    
    .hero-vacancies__body
      picture.hero-vacancies__body__background
        +srcset(image, self.imageSizes["hero-vacancies"], "")

      .hero-vacancies__body__content
        .hero-vacancies__body__content-inner
          h1.hero-vacancies__body__content__title Vacatures

          .hero-vacancies__body__content__pointer
            .hero-vacancies__pointer
              .hero-vacancies__pointer__text Werk jij samen met meer dan <strong>8700 collega’s</strong> aan de toekomst van Nederland?

    .hero-vacancies__search
      .hero-vacancies__search-inner
        .hero-vacancies__search__bar
          .hero-vacancies__search__bar-inner
            label.accessibility(for="heroVacanciesSearch") Zoek vacatures
            .hero-vacancies__search__bar__input-wrap
              +icon#search
              input.hero-vacancies__search__bar__input(type="search", placeholder="Welke functie zoek je?", class="js-vacancies-search-field", aria-controls="react-vacancies-results", id="heroVacanciesSearch")
            button.hero-vacancies__search__bar__button(class="js-vacancies-search-button") 
              +icon#search
              span.hero-vacancies__search__bar__button__label Vind jouw baan
