//- @pugdoc
  name: Hero (Timeline)
  examples:
    - 
      name: Hero (Timeline afbeelding)
      example: |
        +hero-timeline(self.IMAGE, "rws-zeeland.jpg", "Samen werken aan een bereikbaar Zeeland")
          p We renoveren en vervangt de komende jaren een flink aantal sluizen, bruggen, wegen en waterwerken in de provincie Zeeland.
    -
      name: Hero (Timeline video)
      example: |
        +hero-timeline(self.VIDEO, {video: "/static/video/rws-zeeland.mp4", poster: "rws-zeeland.jpg"}, "Samen werken aan een bereikbaar Zeeland")
          p We renoveren en vervangt de komende jaren een flink aantal sluizen, bruggen, wegen en waterwerken in de provincie Zeeland.


mixin hero-timeline(type, media, title, intro)
  include ../../utils/todo
  include ../../utils/srcset
  include ../atoms/button

  - var cls = ["layout-z"];
  
  if type === self.IMAGE
    - cls.push("hero-timeline--image")
  else if type === self.VIDEO
    - cls.push("hero-timeline--video")

  .hero-timeline(class=cls)
    .hero-timeline-inner

      if type === self.IMAGE
        picture.hero-timeline__picture
          +srcset(media, self.imageSizes["hero-timeline"], "")

      if type === self.VIDEO
        .hero-timeline__video-wrap
          video.hero-timeline__video(loop, muted, autoplay, playsinline, defaultmuted, poster=self.IMGIX_URL+media.poster+'?w=2000&h=560&q=55&fit=crop&crop=faces&dpr=1&auto=format', data-object-fit='cover')
            source(src=media.video, type='video/mp4')

      .hero-timeline__body
        .hero-timeline__body-inner
          .hero-timeline-intro
            a.hero-timeline-intro__label(href="#") Nieuwsfeed
            h1.hero-timeline-intro__title #{title}
            .hero-timeline-intro__text
              block