@keyframes animate-cta-in-mobile {
  from {
    transform: translate3d(0, 100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animate-cta-out-mobile {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 100%, 0);
  }
}

@keyframes animate-cta-in-desktop {
  from {
    transform: translate3d(0, -100%, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes animate-cta-out-desktop {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, -100%, 0);
  }
}

.fixed-cta {
  position: fixed;
  width: 100%;
  background-color: $white;
  bottom: 0;
  transform: scale3d(0, 0, 0);
  z-index: 999;

  &.is-open {
    transform: scale3d(1, 1, 1);
    box-shadow: 0 -2px 7px 0 rgba($black, 0.15);

    animation-name: animate-cta-in-mobile;
    animation-fill-mode: forwards;
    animation-timing-function: "ease";
    animation-duration: 0.4s;
    animation-delay: 0;
  }

  .has-footer-inview &,
  &.is-closed {
    transform: scale3d(0, 0, 0);
    box-shadow: none;

    animation-name: animate-cta-out-mobile;
    animation-fill-mode: forwards;
    animation-timing-function: "ease";
    animation-duration: 0.4s;
    animation-delay: 0;
  }

  @include breakpoint($bp-m) {
    top: 0;
    bottom: auto;

    &.is-open {
      box-shadow: 0 2px 7px 0 rgba($black, 0.15);
      animation-name: animate-cta-in-desktop;
    }

    .has-footer-inview &,
    &.is-closed {
      animation-name: animate-cta-out-desktop;
      //opacity: 0;
    }
  }
}

.fixed-cta-inner {
  @include page-spacing;
  width: 100%;
  max-width: #{$w-container + $outside-gutter-l + $grid-item-spacing-l};
  display: flex;
  align-items: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

.fixed-cta__title {
  display: none;

  @include breakpoint($bp-m) {
    @include grid-item-spacing-left;
    display: block;
    flex-shrink: 1;
    flex-grow: 1;
    font-size: 28px;
    line-height: 1.3;
    color: $rh-logo-blue;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 20px;
  }

  @include breakpoint($w-container + $outside-gutter-l + $grid-item-spacing-l) {
    padding-left: 0;
  }
}

.fixed-cta__buttons {
  @include grid-item-spacing;
  flex-grow: 1;
  flex-shrink: 0;

  .button {
    @include button-medium;
    display: block;
    text-align: center;

    .icon-external {
      transform: translateY(-3px);
      margin-bottom: -5px;
    }
  }

  .share-balloon {
    display: none;
  }

  @include breakpoint($bp-m) {
    @include grid-item-spacing-right;
    padding-left: 0;
    margin-left: auto;
    flex-grow: 0;

    .button {
      display: inline-block;
      text-align: left;
    }

    .share-balloon {
      display: inline-flex;
    }
  }

  @include breakpoint($w-container + $outside-gutter-l + $grid-item-spacing-l) {
    padding-right: 0;
  }
}
