.react-vacancies__current-filters {
  display: flex;

  $space-s: $grid-item-spacing-s * 2;
  width: calc(100% + #{$space-s * 2});
  margin-left: -$space-s;
  margin-right: -$space-s;
  padding-left: $space-s;
  padding-right: $space-s;

  margin-top: 20px;

  @include breakpoint($bp-m) {
    $space-m: $grid-item-spacing-m * 2;
    width: calc(100% + #{$space-m * 2});
    margin-left: -$space-m;
    margin-right: -$space-m;
    padding-left: $space-m;
    padding-right: $space-m;

    margin-top: 24px;
  }

  @include breakpoint(max $bp-scrolltrack) {
    justify-content: flex-start;
    overflow-x: scroll;
    -webkit-overflow-scrolling: touch;
    padding-bottom: 16px;
  }

  @include breakpoint($bp-scrolltrack) {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;
    padding-right: 0;
    flex-wrap: wrap;
    margin-bottom: -8px;
    max-width: 1240px;
  }

  &:empty {
    margin-top: 0;
  }
}

.react-vacancies__current-filter-badge {
  position: relative;
  flex-shrink: 0;
  flex-grow: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  background-color: $rh-grey-1;
  border-radius: 18px;
  transition: background-color 0.2s ease;

  padding: 11px 34px 11px 16px;
  margin-right: 8px;
  max-width: 280px;

  @include breakpoint($bp-scrolltrack) {
    margin-bottom: 8px;
  }

  &:hover {
    background-color: $rh-grey-2;
  }
}

.react-vacancies__current-filter-badge__close-icon {
  position: absolute;
  right: 16px;
  top: 50%;
  transform: translateY(-50%);
}

.react-vacancies__clear-current-filters {
  color: $rh-blue;
  white-space: nowrap;
  padding: 11px 31px 11px 16px;

  @include breakpoint($bp-m) {
    padding-right: 56px;
  }

  @include breakpoint($bp-scrolltrack) {
    padding-right: 16px;
    margin-bottom: 8px;
  }

  &:hover {
    text-decoration: underline;
    outline: 0;
  }
}
