@mixin avatar($s, $m: null) {
  display: block;
  width: $s;
  height: $s;
  border: 1px solid rgba($black, 0.15);
  border-radius: 50%;

  @if $m {
    @include breakpoint($bp-m) {
      width: $m;
      height: $m;
    }
  }
}
