/**
 * Contact link
 */

.contact-link {
  @include p;
  display: flex;
  align-items: center;
  color: $rws-blue;
  font-weight: bold;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: $rws-blue-dark;
  }
}

.contact-link__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  margin-right: 4px;

  .icon-mobile,
  .icon-whatsapp,
  .icon-email {
    display: inline-block;
    fill: $rws-blue;
  }
}
