.label {
  position: relative;
  display: inline-block;
  padding: 7px 8px 6px 8px;
  background-color: $rws-blue;

  font-weight: bold;
  font-size: 11px;
  line-height: 1;
  color: $white;
  text-transform: uppercase;

  @include breakpoint($bp-m) {
    padding: 8px 8px 6px 8px;
    font-size: 14px;
  }
}

.label__icon {
  position: absolute;
  top: 0;
  right: -28px;

  display: flex;
  justify-content: center;
  background-color: $rws-blue;
  padding: 2px;

  .icon {
    fill: $white;
    width: 20px;
    height: 20px;
  }

  @include breakpoint($bp-m) {
    right: -32px;

    .icon {
      width: 24px;
      height: 24px;
    }
  }
}
