//- @pugdoc
  name: Kaart (vacature)

mixin card-vacancy(card)
  include ../../icons/_icon

  .card-vacancy(class="js-click-block js-equal-height")

    //- head
    .card-vacancy__head(class="js-equal-height-resize")
      a.card-vacancy__head__link(href=card.link) #{card.title}

    //- body
    .card-vacancy__body
      ul.card-vacancy__body__list
        - var items = [];
        - items.push({ icon: "marker", key: "location" })
        - items.push({ icon: "clock", key: "hours" })
        - items.push({ icon: "hat", key: "degree" })

        each item in items
          if card[item.key]
            li.card-vacancy__body__list__item
              span.card-vacancy__body__list__item__icon
                +icon(id=item.icon)
              span.card-vacancy__body__list__item__label
                | #{card[item.key]}
    
      .card-vacancy__body__arrow
        +icon#chevron
    