//- @pugdoc
  name: Hero home
  examples:
    - 
      name: Hero (Home, video)
      example: |
        - var button = {label: "Bekijk de ICT-vacatures", link: "#", number: "18"}
        +hero-home(self.VIDEO, {video: "/static/video/rws-film.mp4", poster: "rws-yt.png"}, "Een slimmere en veiligere infrastructuur dankzij ICT", button)
    - 
      name: Hero (Home, afbeelding)
      example: |
        - var button = {label: "Bekijk de ICT-vacatures", link: "#", number: "18"}
        +hero-home(self.IMAGE, "rws-yt.png", "Een slimmere en veiligere infrastructuur dankzij ICT", button)

mixin hero-home(type, media, title, button)
  include ../../utils/todo
  include ../../utils/srcset
  include ../atoms/button
  include ../../icons/_icon

  - var cls = ["layout-z"];
  
  if type === self.IMAGE
    - cls.push("hero-home--image")
  else if type === self.VIDEO
    - cls.push("hero-home--video")

  .hero-home(class=cls)
    .hero-home-inner

      if type === self.IMAGE
        picture.hero-home__picture
          +srcset(media, self.imageSizes["hero-home"], "")

      if type === self.VIDEO
        .hero-home__video-wrap
          video.hero-home__video(loop, muted, autoplay, playsinline, defaultmuted, poster=self.IMGIX_URL+media.poster+'?w=2000&h=560&q=55&fit=crop&crop=faces&dpr=1&auto=format', data-object-fit='cover', tabindex="-1")
            source(src=media.video, type='video/mp4')

      .hero-home__body
        .hero-home__body-inner
          .hero-home__body__content

            .hero-home-pointer
              .hero-home-pointer-inner
                .hero-home-pointer__title #{title}
                
                if button
                  +button(button.label, button.link, button.number)(class="js-fixed-cta-trigger")

      .hero-home__search
        .hero-home__search-inner
          form.hero-home__search__bar(method="get", action="vacatures.html")
            .hero-home__search__bar-inner
              h2.hero-home__search__bar__title Vind jouw baan
              label.accessibility(for="heroSearchString") Zoek vacatures
              .hero-home__search__bar__input-wrap
                +icon#search
                input.hero-home__search__bar__input(type="search", placeholder="Welke functie zoek je?", name="searchString", autocomplete="off", id="heroSearchString")

              label.accessibility(for="heroSearchBranch") Vakgebied
              select.hero-home__search__bar__select(name="branches[]", id="heroSearchBranch")
                option(value="") Alle vakgebieden
                option(value="CVG.26") Verkoop
                option(value="CVG.24") Techniek
                option(value="CVG.08") ICT
                option(value="CVG.02") Bedrijfsvoering
                option(value="CVG.30") Water (verkeersleiding)

              button.hero-home__search__bar__button(type="submit") Zoeken
