//- @pugdoc
  name: Superhero
  examples:
    - 
      name: Hero (Superhero afbeelding, teller knop)
      example: |
        - var button = {label: "Bekijk de ICT-vacatures", link: "#", number: "18"}
        +superhero(self.IMAGE, "rws-yt.png", "Een slimmere en veiligere infrastructuur dankzij ICT", button)
    - 
      name: Hero (Superhero video)
      example: |
        - var button = {label: "Bekijk de ICT-vacatures", link: "#", number: "18"}
        +superhero(self.VIDEO, {video: "/static/video/rws-film.mp4", poster: "rws-yt.png"}, "Een slimmere en veiligere infrastructuur dankzij ICT", button)
    - 
      name: Hero (Superhero afbeelding, zonder knop)
      example: |
        +superhero(self.IMAGE, "smart-mobility.jpg", "Dankzij informatietechnologie wordt de infrastructuur nog slimmer en veiliger.")
    - 
      name: Hero (Superhero afbeelding, andere knop)
      example: |
        - var button = {label: "Bekijk dit", link: "#"}
        +superhero(self.IMAGE, "smart-mobility.jpg", "Dankzij informatietechnologie wordt de infrastructuur nog slimmer en veiliger.", button)
    -
      name: Hero (Superhero, fixed-cta)
      example: |
        include ../general/fixed-cta

        div.fixed-cta-test-container(style="height: 600px; overflow-y: scroll;")
          - var button = {label: "Bekijk de ICT-vacatures", link: "#", number: "18"}
          +superhero(self.VIDEO, {video: "/static/video/rws-film.mp4", poster: "rws-yt.png"}, "Een slimmere en veiligere infrastructuur dankzij ICT", button)
        
          <!-- plaats dit na div#content -->
          +fixed-cta("ICT bij Rijkswaterstaat", {label: "Bekijk de ICT-vacatures", link: "#", number: "18"})


mixin superhero(type, media, title, button)
  include ../../utils/todo
  include ../../utils/srcset
  include ../atoms/button

  - var cls = ["layout-z"];
  
  if type === self.IMAGE
    - cls.push("superhero--image")
  else if type === self.VIDEO
    - cls.push("superhero--video")

  .superhero(class=cls)
    .superhero-inner

      if type === self.IMAGE
        picture.superhero__picture
          +srcset(media, self.imageSizes["superhero"], "")

      if type === self.VIDEO
        .superhero__video-wrap
          video.superhero__video(loop, muted, autoplay, playsinline, defaultmuted, poster=self.IMGIX_URL+media.poster+'?w=2000&h=560&q=55&fit=crop&crop=faces&dpr=1&auto=format', data-object-fit='cover')
            source(src=media.video, type='video/mp4')

      .superhero__body
        .superhero__body-inner
          .superhero__body__content

            .superhero-pointer
              .superhero-pointer-inner
                h2.superhero-pointer__title #{title}
                
                if button
                  +button(button.label, button.link, button.number)(class="js-fixed-cta-trigger")
