<!DOCTYPE html>
<html style="margin: 0; padding: 0px;">

<head>
  <base target="_blank">
  <title>Hero (Timeline video)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.2.9/iframeResizer.contentWindow.min.js"></script>
  <script>(function templatePolyfill() { if ("content" in document.createElement("template")) { return false } var templates = document.getElementsByTagName("template"); var plateLen = templates.length; for (var x = 0; x < plateLen; ++x) { var template = templates[x]; var content = template.childNodes; var fragment = document.createDocumentFragment(); while (content[0]) { fragment.appendChild(content[0]) } template.content = fragment } })();</script>
  <link rel='shortcut icon' href='/static/images/favicons/favicon.ico' />
  <link rel='stylesheet' href='/assets/css/all.v1.0.0.css' />
  <style>
  template {
    display: none !important;
  }
  html, body {
    background-color: white;
  }
  hr.demo {
    border-color: #ddd;
    border-style: dashed;
    margin: 30px 0;
  }
  .section:first-of-type,
  hr.demo + .section {
    margin-top: 0;
  }
  </style>
</head>

<body style="margin: 0px; padding: 0px;">
  <script src='/assets/js/lib.v1.0.0.js'></script>
  <script src='/assets/js/app.v1.0.0.js'></script>
  <script>
  var xhr=new XMLHttpRequest;xhr.open("GET","/assets/images/_symbols.v1.0.0.html",!0),xhr.onreadystatechange=function(){4===xhr.readyState&&200===xhr.status&&document.body.insertAdjacentHTML("afterbegin",xhr.responseText)},xhr.send();
  </script>
  <div class="hero-timeline layout-z hero-timeline--video"><div class="hero-timeline-inner"><div class="hero-timeline__video-wrap"><video class="hero-timeline__video" loop="loop" muted="muted" autoplay="autoplay" playsinline="playsinline" defaultmuted="defaultmuted" poster="https://eightmedia-werkenbij-rijkswaterstaat.imgix.net/rws-zeeland.jpg?w=2000&amp;h=560&amp;q=55&amp;fit=crop&amp;crop=faces&amp;dpr=1&amp;auto=format" data-object-fit="cover"><source src="/static/video/rws-zeeland.mp4" type="video/mp4"/></video></div><div class="hero-timeline__body"><div class="hero-timeline__body-inner"><div class="hero-timeline-intro"><a class="hero-timeline-intro__label" href="#">Nieuwsfeed</a><h1 class="hero-timeline-intro__title">Samen werken aan een bereikbaar Zeeland</h1><div class="hero-timeline-intro__text"><p>We renoveren en vervangt de komende jaren een flink aantal sluizen, bruggen, wegen en waterwerken in de provincie Zeeland.</p></div></div></div></div></div></div>
</body>

</html>