<!-- taskrunner v1.0.0 --> <!DOCTYPE html>
<html style="margin: 0; padding: 0px;">

<head>
  <base target="_blank">
  <title>Sectie (Knop of sterke link)</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/iframe-resizer/4.2.9/iframeResizer.contentWindow.min.js"></script>
  <script>(function templatePolyfill() { if ("content" in document.createElement("template")) { return false } var templates = document.getElementsByTagName("template"); var plateLen = templates.length; for (var x = 0; x < plateLen; ++x) { var template = templates[x]; var content = template.childNodes; var fragment = document.createDocumentFragment(); while (content[0]) { fragment.appendChild(content[0]) } template.content = fragment } })();</script>
  <link rel='shortcut icon' href='/static/images/favicons/favicon.ico' />
  <link rel='stylesheet' href='/assets/css/all.v1.0.0.css' />
  <style>
  template {
    display: none !important;
  }
  html, body {
    background-color: white;
  }
  hr.demo {
    border-color: #ddd;
    border-style: dashed;
    margin: 30px 0;
  }
  .section:first-of-type,
  hr.demo + .section {
    margin-top: 0;
  }
  </style>
</head>

<body style="margin: 0px; padding: 0px;">
  <script src='/assets/js/lib.v1.0.0.js'></script>
  <script src='/assets/js/app.v1.0.0.js'></script>
  <script>
  var xhr=new XMLHttpRequest;xhr.open("GET","/assets/images/_symbols.v1.0.0.html",!0),xhr.onreadystatechange=function(){4===xhr.readyState&&200===xhr.status&&document.body.insertAdjacentHTML("afterbegin",xhr.responseText)},xhr.send();
  </script>
  <div class="section section--button-link layout-m"><div class="section-inner"><div class="section__body"><div class="button-link"><a class="button" href="#">Knop link intern</a><a class="button" href="https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle">Knop link extern</a><a class="stronglink" href="#">Sterke link intern<svg class="icon icon-chevron" aria-hidden="true" viewBox="0 0 24 24" width="24" height="24"><use xlink:href="#chevron"></use></svg></a><a class="stronglink" href="https://www.werkenvoornederland.nl/vakgebieden/icters-bij-de-rijksoverheid/security-battle">Sterke link extern<svg class="icon icon-chevron" aria-hidden="true" viewBox="0 0 24 24" width="24" height="24"><use xlink:href="#chevron"></use></svg></a></div></div></div></div>
</body>

</html>