//- @pugdoc
  name: Algemeen (Iconen symbols)
  capture: 0

svg(style ="display: none !important;", id="icons")
  symbol(id="chevron")
    include ./chevron
  symbol(id="clock")
    include ./clock
  symbol(id="marker")
    include ./marker
  symbol(id="linkedin")
    include ./linkedin
  symbol(id="mobile")
    include ./mobile
  symbol(id="whatsapp")
    include ./whatsapp
  symbol(id="email")
    include ./email
  symbol(id="facebook")
    include ./facebook
  symbol(id="instagram")
    include ./instagram
  symbol(id="twitter")
    include ./twitter
  symbol(id="cross")
    include ./cross
  symbol(id="hat")
    include ./hat
  symbol(id="calendar")
    include ./calendar
  symbol(id="share")
    include ./share
  symbol(id="external")
    include ./external
  symbol(id="check")
    include ./check
  symbol(id="search")
    include ./search
  symbol(id="home")
    include ./home
  symbol(id="spotify")
    include ./spotify
  symbol(id="youtube")
    include ./youtube
  symbol(id="audio")
    include ./audio
  symbol(id="video")
    include ./video
  symbol(id="info")
    include ./info
  symbol(id="timeline-video")
    include ./timeline-video
  symbol(id="timeline-audio")
    include ./timeline-audio
  symbol(id="timeline-gallery")
    include ./timeline-gallery
  symbol(id="timeline-quote")
    include ./timeline-quote
  symbol(id="timeline-news")
    include ./timeline-news
