<path d="M9.26148539,15.4168155 L5,11.1553301 L6.5,9.65533009 L10.7614854,13.9168155 L16.6783009,8 L18.1783009,9.5 L10.6783009,17 L9.17830086,15.5 L9.26148539,15.4168155 Z" fill="currentColor"></path>