.footer {
  @include section-margin-top(xl);
  padding-top: 24px;
  position: relative;

  .layout-z + & {
    margin-top: 0;
    padding-top: 0;
  }

  @include breakpoint($bp-m) {
    .section--callout-quote + &,
    .section--callout-billboard + & {
      .footer__logo__text {
        color: $white;
        text-shadow: 0 0 3px rgba($black, 0.7), 0 0 6px rgba($black, 0.3);
      }
    }
  }
}

/**
 * Footer logo
 */

.footer__logo {
  position: absolute;
  left: 50%;
  transform: translateX(-22px) translateY(-24px);
  display: flex;
}

.footer__logo__block {
  width: 45px;
  height: 24px;
  background-color: $rh-logo-blue;
}

.footer__logo__text {
  font-family: $rijksoverheid-serif;
  font-size: 14px;
  line-height: 1;
  color: $black;
  margin-left: 12px;

  display: none;

  @include breakpoint($bp-m) {
    display: block;
  }
}

/**
 * Footers main content
 */

.footer__main {
  @include section-padding-bottom(m);
  @include page-spacing;
  background-color: $rh-grey-1;
}

.footer__main-inner {
  @include grid;
  @include section-padding-top(s);
}

@mixin border-bottom($size, $color) {
  position: relative;

  &::after {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    height: $size;
    background-color: $color;

    left: $grid-item-spacing-s;
    right: $grid-item-spacing-s;

    @include breakpoint($bp-m) {
      left: $grid-item-spacing-m;
      right: $grid-item-spacing-m;
    }

    @include breakpoint($bp-l) {
      left: $grid-item-spacing-l;
      right: $grid-item-spacing-l;
    }
  }
}

/**
 * Breadcrumb container
 */

.footer__main__breadcrumb {
  @include grid-item(12);
  @include section-padding-bottom(s);
  @include border-bottom(1px, $rh-grey-3);

  display: flex;
  align-items: flex-start;

  & + .footer__main__body {
    @include section-padding-top(s);
  }
}

.footer__main__breadcrumb__home {
  position: relative;
  display: inline-block;
  flex-grow: 0;
  flex-shrink: 0;
  margin-top: 2px;

  .icon-home {
    fill: $rh-grey-7;
    transition: fill 0.2s ease;
  }

  &:hover {
    fill: $rh-grey-9;
  }

  &::after {
    content: "";
    display: block;
    margin: -5px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

/**
 * Breadcrumb
 */

.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.breadcrumb__item {
  position: relative;
  font-family: $rijksoverheid-sans;
  font-size: 14px;
  color: $rh-grey-7;
  line-height: 2;
  padding-left: 22px;

  &::before {
    position: absolute;
    left: 0;
    content: "›";
    margin-left: 8px;
    margin-right: 8px;
  }
}

.breadcrumb__item__link {
  color: currentColor;
  text-decoration: underline;
  transition: color 0.2s ease;

  &:hover {
    color: $rh-grey-9;
  }
}

/**
 * Body
 */

.footer__main__body {
  @include grid-item-spaceless(12);
  align-items: center;
}

/**
 * Content
 */

.footer-content {
  @include grid;
}

.footer-content__left {
  @include grid-item(12);
  position: relative;
  margin-bottom: 24px;

  @include breakpoint($bp-m) {
    @include grid-item(9);
    margin-bottom: 0;
  }
}

/**
 * Title
 */

.footer-content__left__title {
  position: relative;
  font-family: $rijksoverheid-serif;
  font-size: 20px;
  font-weight: bold;
  color: $rh-grey-7;
  text-decoration: none;
  margin-bottom: 24px;
  white-space: nowrap;
  z-index: 10;

  &:hover {
    text-decoration: underline;
  }
}

/**
 * Links
 */

.footer-content__left__links {
  margin-top: 16px;

  @include breakpoint($bp-l) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    padding-left: grid-calc(3, 9);
    padding-right: $grid-item-spacing-l * 2;
    text-align: center;
    margin-top: 0;
  }

  a {
    display: inline-block;
    font-family: $rijksoverheid-sans;
    font-size: 14px;
    color: $rh-grey-7;
    text-decoration: underline;
    margin: 8px 12px 8px 0;

    &:hover {
      color: $rh-grey-9;
    }

    @include breakpoint($bp-l) {
      margin: 0 7px;
    }
  }
}

/**
 * Social
 */

.footer-content__social {
  @include grid-item(12);

  @include breakpoint($bp-m) {
    @include grid-item(3);
  }
}

.social {
  display: flex;

  @include breakpoint($bp-m) {
    justify-content: flex-end;
  }
}

.social__item {
  display: flex;
  align-items: center;
  border-radius: 4px;
  padding: 8px;
  transition: background-color 0.2s ease;

  &:not(:last-child) {
    margin-right: 8px;
  }

  .icon {
    fill: $white;
  }
}

.social__item--linkedin {
  background-color: $linkedin;

  &:hover {
    background-color: darken($linkedin, 10%);
  }
}

.social__item--facebook {
  background-color: $facebook;

  &:hover {
    background-color: darken($facebook, 10%);
  }
}

.social__item--instagram {
  background-color: $instagram;

  &:hover {
    background-color: darken($instagram, 10%);
  }
}

.social__item--twitter {
  background-color: $twitter;

  &:hover {
    background-color: darken($twitter, 10%);
  }
}

.social__item--youtube {
  background-color: $youtube;

  &:hover {
    background-color: darken($youtube, 10%);
  }
}

.social__item--spotify {
  background-color: $spotify;

  &:hover {
    background-color: darken($spotify, 10%);
  }
}
