mixin social-list
  include ../../icons/_icon

  .social-list
    .social-list__item
      a.social-list__item__link(href="https://www.facebook.com/sharer/sharer.php?u=", class="social-list__item__link--facebook")
        span.accessibility Facebook
        +icon#facebook(class="icon")
    .social-list__item
      a.social-list__item__link(href="https://twitter.com/home?status=", class="social-list__item__link--twitter")
        span.accessibility Twitter
        +icon#twitter(class="icon")
    .social-list__item
      a.social-list__item__link(href="https://www.linkedin.com/shareArticle?mini=true&url=&title=&summary=&source=", class="social-list__item__link--linkedin")
        span.accessibility LinkedIn
        +icon#linkedin(class="icon")
    .social-list__item
      a.social-list__item__link(href="whatsapp://send?text=", class="social-list__item__link--whatsapp")
        span.accessibility WhatsApp
        +icon#whatsapp(class="icon")