// sass-lint:disable indentation

@font-face {
  font-family: "RijksoverheidSansText";
  src: url("#{$fonts-url}/ROsanswebtextregular.eot?") format("embedded-opentype"),
    url("#{$fonts-url}/ROsanswebtextregular.woff") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RijksoverheidSansText";
  src: url("#{$fonts-url}/ROsanswebtextitalic.eot?") format("embedded-opentype"),
    url("#{$fonts-url}/ROsanswebtextitalic.woff") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "RijksoverheidSansText";
  src: url("#{$fonts-url}/ROsanswebtextbold.eot?") format("embedded-opentype"),
    url("#{$fonts-url}/ROsanswebtextbold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "RijksoverheidSerif";
  src: url("#{$fonts-url}/ROserifwebregular.eot?") format("embedded-opentype"),
    url("#{$fonts-url}/ROserifwebregular.woff") format("opentype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "RijksoverheidSerif";
  src: url("#{$fonts-url}/ROserifwebitalic.eot?") format("embedded-opentype"),
    url("#{$fonts-url}/ROserifwebitalic.woff") format("opentype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "RijksoverheidSerif";
  src: url("#{$fonts-url}/ROserifwebbold.eot?") format("embedded-opentype"),
    url("#{$fonts-url}/ROserifwebbold.woff") format("opentype");
  font-weight: bold;
  font-style: normal;
}
