/**
 * Lead
 */

@mixin lead {
  font-size: 20px;
  line-height: 1.6;

  @include breakpoint($bp-m) {
    font-size: 22px;
  }
}

/**
 * Paragraph
 */

@mixin p {
  font-size: 16px;
  line-height: 1.6;

  @include breakpoint($bp-m) {
    font-size: 18px;
  }
}

/**
 * Base
 */

@mixin base {
  font-size: 15px;
  line-height: 1.6;

  @include breakpoint($bp-m) {
    font-size: 16px;
  }
}

/**
 * Medium
 */

@mixin medium {
  font-size: 16px;
  line-height: 1.5;
}

/**
 * Small
 */

@mixin small {
  font-size: 14px;
  line-height: 1.5;
}

/**
 * Mini
 */

@mixin mini {
  font-size: 13px;
  line-height: 1.5;
}

/**
 * Micro
 */

@mixin micro {
  font-size: 12px;
  line-height: 1.5;
}

/**
 * Quote
 */

@mixin quote {
  font-family: $rijksoverheid-sans;
  font-style: italic;
  font-size: 18px;
  line-height: 1.444;

  @include breakpoint($bp-m) {
    font-size: 19px;
    line-height: 1.5;
  }
}
