.facts {
  .is-slim & {
    @include section-padding-top(m);
    @include section-padding-bottom(m);
    border-top: 3px solid $rh-grey-1;
    border-bottom: 3px solid $rh-grey-1;
  }

  .is-wide & {
    @include grid;
    flex-direction: column;
  }

  @include breakpoint($bp-m) {
    .is-wide & {
      flex-direction: row;
      align-items: center;
    }
  }
}

.facts__intro {
  .is-wide & {
    @include grid-item(12);
    max-width: grid-calc(12);
  }

  @include breakpoint($bp-l) {
    .is-wide & {
      @include grid-item(6);
      max-width: grid-calc(6);
    }
  }
}

.facts__body {
  .is-wide & {
    @include grid-item(12);
    max-width: grid-calc(12);

    .fact-grid {
      margin-top: 32px;
      padding-top: 32px;
      border-top: 1px solid $rh-grey-3;
    }
  }

  @include breakpoint($bp-l) {
    .is-wide & {
      @include grid-item(6);
      max-width: grid-calc(6);

      .fact-grid {
        margin-top: 0;
        padding-top: 0;
        border-top: 0;
      }
    }
  }
}

.facts__intro__title {
  @include h2-action;
  margin-bottom: 9.5px;
}

.facts__intro__text {
  font-family: $rijksoverheid-sans;
  font-weight: normal;
  font-size: 22px;
  line-height: 1.6;
  margin-bottom: 24px;
}

.facts__intro__button {
  .button {
    @include button-medium;
  }
}
