.image {
  @include grid-item-spacing;
  margin: 0 auto;

  &.image--slim {
    max-width: calc(#{$w-content} + #{$grid-item-spacing-s} * 2);

    @include breakpoint($bp-m) {
      max-width: calc(#{$w-content} + #{$grid-item-spacing-m} * 2);
    }

    @include breakpoint($bp-l) {
      max-width: calc(#{$w-content} + #{$grid-item-spacing-l} * 2);
    }
  }

  &.image--wide {
    @include breakpoint($bp-l) {
      max-width: grid-calc(10);
    }
  }
}

.image__pic {
  display: block;

  img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: auto;
  }
}

.image__pic__caption {
  margin: 16px auto 0;
  max-width: $w-content;
}

.image__pic__caption__label {
  @include medium;
  color: $rh-grey-7;

  & + .image__pic__caption__credits {
    margin-left: 4px;
  }
}

.image__pic__caption__credits {
  @include mini;
  font-weight: bold;
  color: $rh-grey-7;
}
