.intro {
  @include grid;

  &:not(.intro--content) {
    @include breakpoint($bp-m) {
      text-align: center;
    }
  }
}

.intro__title,
.intro__text {
  @include grid-item(12);
  max-width: grid-calc(12);
  margin: 0 auto;

  @include breakpoint($bp-l) {
    @include grid-item(8);
    max-width: grid-calc(8);
  }

  .intro--content & {
    max-width: calc(#{$w-content} + #{$grid-item-spacing-s} * 2);

    @include breakpoint($bp-m) {
      max-width: calc(#{$w-content} + #{$grid-item-spacing-m} * 2);
    }

    @include breakpoint($bp-l) {
      max-width: calc(#{$w-content} + #{$grid-item-spacing-l} * 2);
    }
  }
}

.intro__title {
  @include h1;
  margin-bottom: 11.25px;
}

.intro__text {
  p {
    @include lead;
  }
}
