.meet-us {
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;

  &.is-loading {
    opacity: 0.3;

    .meet-us__grid__footer__more {
      opacity: 0.5;
    }
  }

  &.has-error {
    .meet-us__error {
      display: block;
    }
  }
}

/**
 * Static version
 */

.meet-us--static {
  @include breakpoint(max $bp-m) {
    .meet-us__grid__item {
      &:not(.meet-us__grid__item--featured) {
        display: none;
      }
    }
  }
}

/**
 * Filters
 */

.meet-us__filters {
  @include grid-item(12);
  margin-left: auto;
  margin-right: auto;
  font-family: $rijksoverheid-sans;

  @include breakpoint($bp-l) {
    @include grid-item(10);
    text-align: center;
  }

  @include breakpoint($bp-xl) {
    @include grid-item(8);
  }
}

.meet-us__filters__label {
  display: inline;
  font-size: 28px;
  line-height: 1.5;
  color: $rh-logo-blue;

  h1 {
    display: inline-block;
  }

  &:not(:first-child) {
    &::before {
      content: " ";
      white-space: pre;
    }
  }

  &::after {
    content: " ";
    white-space: pre;
  }

  @include breakpoint($bp-m) {
    font-size: 45px;
  }
}

/**
 * Filter select
 */

.meet-us__filters__select {
  position: relative;
  display: inline-block;
  border-bottom: 3px solid rgba($rh-logo-blue, 0.3);
}

.meet-us__filters__select__label {
  pointer-events: none;
  position: relative;
  z-index: 10;
  cursor: pointer;
  padding-right: 32px;
  font-weight: bold;
  background-color: $white;
  background: url("../images/select-chevron.svg") no-repeat right 5px center $white;
  background-size: 16px auto;
  transition: width 0.15s ease;

  font-size: 28px;
  line-height: 1.5;
  color: $rh-logo-blue;

  @include breakpoint($bp-m) {
    font-size: 45px;
  }
}

.meet-us__filters__select__el {
  position: absolute;
  pointer-events: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
  padding-right: 32px;
  border: 0;
  border-radius: 0;
  background-color: $white;

  -webkit-appearance: none; // disable default styling in webkit
  -moz-appearance: none; // disable default styling in ff
  appearance: none;

  &:-moz-focusring {
    // disable ugly ass outline in firefox
    color: transparent;
    text-shadow: 0 0 0 $black;
  }

  &::-ms-expand {
    // disable default arrow in IE 11+
    display: none;
  }

  &:focus {
    @include focus-outline($rws-blue, 3px, 0);
  }

  option {
    font-size: 16px !important;
    font-weight: normal;
  }
}

/**
 * Error
 */

.meet-us__error {
  @include section-margin-top(m);
  @include grid-item(12);
  max-width: grid-calc(12);
  margin-left: auto;
  margin-right: auto;
  display: none;

  @include breakpoint($bp-m) {
    @include grid-item(8);
    max-width: $w-content;
  }
}

/**
 * Grid
 */

.meet-us__grid {
  @include grid;
  position: relative;
  opacity: 1;

  &:not(:first-child) {
    @include section-margin-top(xl);
  }
}

@keyframes animate-item-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.meet-us__grid__item {
  @include grid-item(12);
  margin-bottom: 15px;

  animation-name: animate-item-in;
  animation-fill-mode: forwards;
  animation-timing-function: "ease";
  animation-duration: 0.5s;
  animation-delay: 0;

  @include breakpoint($bp-s) {
    @include grid-item(6);
    max-width: grid-calc(6);
    margin-bottom: 20px;
  }

  @include breakpoint($bp-ml) {
    @include grid-item(4);
    max-width: grid-calc(4);
    margin-bottom: 40px;
  }
}

.meet-us__grid__item--featured {
  @include grid-item(12);

  @include breakpoint($bp-s) {
    @include grid-item(12);
    max-width: grid-calc(12);
  }

  @include breakpoint($bp-ml) {
    @include grid-item(6);
    max-width: grid-calc(6);
  }
}

/**
 * No results
 */

.meet-us__grid__item--empty {
  @include grid-item(12);
  max-width: grid-calc(12);
  margin-left: auto;
  margin-right: auto;
  text-align: center;

  @include breakpoint($bp-l) {
    @include grid-item(10);
    max-width: grid-calc(10);
  }

  @include breakpoint($bp-xl) {
    @include grid-item(8);
    max-width: grid-calc(8);
  }

  p {
    @include p;
  }
}

/**
 * Footer
 */

.meet-us__footer {
  @include grid-item(12);
  text-align: center;
  margin-top: 24px;

  .button {
    @include button-outline;
  }
}

/**
 * Knop 'Toon meer'
 */

.meet-us__footer__more {
  @include button;
  @include button-medium;
  @include button-outline;
  border-color: $rws-blue;
  transition: background-color 0.15s ease;

  &:hover {
    background-color: rgba($rws-blue-light, 0.3);
    text-decoration: none;
  }
}

/**
 * Knop 'Alles wissen'
 */

.meet-us-clear-btn {
  color: $rws-blue;
  text-decoration: underline;
}
