/**
 * Intro
 */

.timeline-updates__intro {
  background-color: $rh-grey-1;
  border-radius: 4px;
  padding: 16px;

  @include breakpoint($bp-m) {
    padding: 24px;
  }
}

.timeline-updates__intro__title {
  @include h3;
  margin-bottom: 6px;
}

.timeline-updates__intro__text {
  @include richtext;
}

/**
 * Update
 */

.timeline-update {
  position: relative;
  padding-top: 40px;

  &:not(:last-of-type) {
    padding-bottom: 40px;
    border-bottom: 6px solid $rh-grey-1;

    &::before {
      content: "";
      display: block;
      position: absolute;
      left: -62px;
      width: 4px;
      height: 100%;
      background-color: $rh-grey-1;
    }
  }

  @include breakpoint($bp-m) {
    padding-top: 64px;

    &:not(:last-of-type) {
      padding-bottom: 64px;
    }
  }
}

.timeline-update__head {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  @include breakpoint($bp-m) {
    display: block;
  }
}

.timeline-update__head__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $rws-yellow;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 0 3px $white;

  .icon {
    fill: $rh-grey-10;
  }

  @include breakpoint($bp-m) {
    position: absolute;
    left: -80px;
    top: 62px;
  }
}

.timeline-update__head__date {
  font-size: 16px;
  color: $rh-grey-7;
  margin-left: 8px;

  @include breakpoint($bp-m) {
    font-size: 18px;
    margin-left: 0;
    margin-bottom: 6px;
  }
}

.timeline-update__title {
  @include h2;
  font-weight: normal;
  margin-bottom: 16px;

  @include breakpoint($bp-m) {
    font-size: 38px;
  }
}

/**
 * Author
 */

.timeline-update__author {
  margin-bottom: 16px;

  .person__avatar {
    img {
      @include avatar(48px);
    }
  }

  .person__body__name {
    @include breakpoint($bp-m) {
      font-size: 16px;
    }
  }
}

/**
 * Text
 */

.timeline-update__text {
  @include richtext;
}

/**
 * Body
 */

.timeline-update__body {
  margin-top: 24px;

  @include breakpoint($bp-m) {
    margin-top: 40px;
  }
}

/**
 * Related
 */

.timeline-update__related {
  margin-top: 24px;

  @include breakpoint($bp-m) {
    margin-top: 40px;
  }
}

.update-related {
  cursor: pointer;

  &:hover {
    .update-related__body__content__title {
      text-decoration: underline;
    }
  }

  @include breakpoint($bp-m) {
    border-left: 6px solid $rh-grey-2;
    padding-left: 24px;
  }
}

.update-related__caption {
  display: block;
  font-family: $rijksoverheid-sans;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  color: $rh-grey-7;
  margin-bottom: 8px;

  @include breakpoint($bp-m) {
    margin-bottom: 12px;
    font-size: 15px;
  }
}

.update-related__body {
  display: flex;
  align-items: center;
}

.update-related__body__image {
  flex-grow: 0;
  flex-shrink: 0;
  width: 90px;
  height: 60px;

  img {
    display: block;
  }

  @include breakpoint($bp-m) {
    width: 120px;
    height: 80px;
  }
}

.update-related__body__content {
  margin-left: 12px;

  @include breakpoint($bp-m) {
    margin-left: 16px;
  }
}

.update-related__body__content__caption {
  display: block;
  font-family: $rijksoverheid-sans;
  font-weight: bold;
  text-transform: uppercase;
  color: $rws-blue;
  margin-bottom: 2px;
  font-size: 12px;

  @include breakpoint($bp-m) {
    font-size: 15px;
    margin-bottom: 4px;
  }
}

.update-related__body__content__title {
  font-family: $rijksoverheid-sans;
  font-size: 15px;
  font-weight: bold;
  color: $rws-blue-dark;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @include breakpoint($bp-m) {
    font-size: 18px;
  }
}
