.timeline-tabs {
  border-bottom: 1px solid $rh-grey-2;
}

.timeline-tabs__button {
  text-transform: uppercase;
  font-weight: bold;
  color: $rh-grey-7;

  font-size: 16px;
  line-height: 1.2;
  padding: 20px 16px 16px;

  border-bottom: 4px solid $white;

  [data-whatinput="mouse"] &:focus {
    outline: 0;
  }

  &.is-active {
    border-bottom-color: $rws-blue;
    color: $rws-blue;
  }

  @include breakpoint($bp-m) {
    font-size: 18px;
  }
}

.timeline-tabs__button__number {
  display: inline-block;
  background-color: $rws-blue;
  color: $white;
  padding: 3px 5px 2px;
  border-radius: 3px;
  font-size: 14px;
  line-height: 1;
  margin-left: 6px;
  font-weight: bold;
  transform: translateY(-1px);

  @include breakpoint($bp-m) {
    font-size: 15px;
  }
}
