//- @pugdoc
  name: Navigatie (Footer)
  examples:
    - 
      name: Navigatie (Footer, basis)
      example: |
        +footer()

    - 
      name: Navigatie (Footer, vacature)
      example: |
        +footer(["Vacatures", "Changemanager tunnels, elektrotechniek en industriële automatisering"])

mixin footer(breadcrumb)
  include ../icons/_icon

  footer.footer(class="js-footer")

    .footer__logo
      .footer__logo__block
      .footer__logo__text Water. Wegen. Werken. Rijkswaterstaat.

    .footer__main

      .footer__main-inner

        if breadcrumb

          - breadcrumb = Array.from(breadcrumb);

          .footer__main__breadcrumb
            
            a.footer__main__breadcrumb__home(href="/home.html")
              span.accessibility Home
              +icon#home

            ul.breadcrumb
            
              - var current = breadcrumb.pop();

              each item in breadcrumb
                li.breadcrumb__item
                  a.breadcrumb__item__link(href="#") #{item}
          
              li.breadcrumb__item #{current}

        .footer__main__body

          .footer-content
            .footer-content__left
              a.footer-content__left__title(href="/") Werken bij Rijkswaterstaat
              
              .footer-content__left__links
                a(href="#") Privacy
                a(href="#") Cookies
                a(href="#") Toegankelijkheid
                a(href="#") Rijkswaterstaat.nl

            .footer-content__social
              .social
                a.social__item(href="", class="social__item--linkedin")
                  span.accessibility LinkedIn
                  +icon#linkedin
                a.social__item(href="", class="social__item--facebook")
                  span.accessibility Facebook
                  +icon#facebook
                a.social__item(href="", class="social__item--instagram")
                  span.accessibility Instagram
                  +icon#instagram
                a.social__item(href="", class="social__item--twitter")
                  span.accessibility Twitter
                  +icon#twitter
                a.social__item(href="", class="social__item--youtube")
                  span.accessibility YouTube
                  +icon#youtube
                a.social__item(href="", class="social__item--spotify")
                  span.accessibility Spotify
                  +icon#spotify