.callout-billboard {
  position: relative;

  @include breakpoint($bp-m) {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 70vh;
    min-height: 560px;
    max-height: 640px;
  }
}

.callout-billboard__picture {
  display: block;
  width: 100%;
  height: 100%;

  img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @include breakpoint($bp-m) {
    position: absolute;
    top: 0;

    left: 50%;
    transform: translateX(-50%);
  }
}

.callout-billboard__body {
  @include grid-item(12);
  max-width: grid-calc(12);
}

.callout-billboard__body-inner {
  @include grid;
  position: relative;
  height: 100%;
}

/**
 * Pointer
 */

.callout-billboard__body__pointer {
  @include grid-item(12);
  max-width: grid-calc(12);

  @include breakpoint(max $bp-m) {
    transform: translateY(-80px);
    margin-bottom: -80px;
  }

  @include breakpoint($bp-m) {
    @include grid-item(8);
    max-width: grid-calc(8);
  }

  @include breakpoint($bp-l) {
    @include grid-item(6);
    max-width: grid-calc(6);
  }
}

.callout-billboard__body__pointer--left {
  margin-right: auto;
}

.callout-billboard__body__pointer--right {
  margin-left: auto;
}

.callout-pointer {
  @include breakpoint(max $bp-m) {
    @include pointer("top");
  }

  @include breakpoint($bp-m) {
    @include pointer("bottom");
  }

  .button {
    @include button-medium;
  }
}

.callout-pointer__title {
  @include title-serif-2;
  margin-bottom: 0;
}

.callout-pointer__text {
  font-family: $rijksoverheid-serif;
  font-size: 16px;

  @include breakpoint($bp-m) {
    font-size: 18px;
  }

  .callout-pointer__title + & {
    margin-top: 8px;
  }

  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
