.featured-testimonial {
  @include card-bordered;

  &:hover {
    .button {
      text-decoration: underline;
      background-color: $rws-blue-dark;
    }
  }
}

/**
 * Image
 */

.featured-testimonial__image {
  z-index: 1;
  position: relative;
  order: 0;
  margin: -1px;

  img {
  }
}

/**
 * Body
 */

.featured-testimonial__body {
  z-index: 2;
  order: 1;
  width: 100%;
  position: relative;
  text-align: center;
  padding: 0 20px 0 20px;
  color: $rh-grey-10;
}

.featured-testimonial__body__avatar {
  img {
    @include avatar(80px);
    transform: translateY(-60px) translateX(-50%);
    position: absolute;
    top: 0;
    left: 50%;
  }
}

.featured-testimonial__body__quote {
  @include quote;
  margin-bottom: 12px;
  padding-top: 28px;

  @include breakpoint($bp-m) {
    padding-top: 32px;
    font-size: 28px;
  }
}

.featured-testimonial__body__name {
  @include p;
  font-weight: bold;
  margin-bottom: -2px;
  display: block;
}

.featured-testimonial__body__description {
  @include p;
  display: block;
}

/**
 * Footer
 */

.featured-testimonial__footer {
  order: 2;
  text-align: center;
  width: 100%;
  padding: 16px 20px 20px 20px;

  @include breakpoint($bp-m) {
    padding: 20px;
  }

  .button {
    @include button-small;
    display: inline-block;
  }
}
