.featured-testimonials {
  @include cards-scroll;
  justify-content: center;
}

.featured-testimonials__item {
  @include cards-scroll-item;
  min-height: 333px;

  @include breakpoint(max $bp-scrolltrack) {
    min-height: 280px;
  }
}
