.quote {
  border-left: 6px solid $rws-yellow;
  padding-left: 24px;
}

.quote__avatar {
  display: block;
  margin-bottom: 20px;

  img {
    @include avatar(100px);
  }
}

.quote__body {
  p {
    font-family: $rijksoverheid-serif;
    font-size: 22px;
    line-height: 1.4;

    @include breakpoint($bp-m) {
      font-size: 28px;
    }
  }
}

.quote__body__author {
  display: block;
  margin-top: 20px;
  font-family: $rijksoverheid-sans;
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
}
