.where-when {
  display: flex;
  flex-direction: column;
  border: 1px solid $rh-grey-3;
  border-radius: 4px;

  @include breakpoint($bp-s) {
    flex-direction: row;
  }
}

.where-when__block {
  flex-basis: 50%;
  padding: 20px;
  text-align: center;
}

.where-when__block--where {
  border-bottom: 1px solid $rh-grey-3;

  @include breakpoint($bp-s) {
    border-bottom: 0;
    border-right: 1px solid $rh-grey-3;
  }
}

.where-when__block__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 8px;

  .icon {
    fill: $rws-blue;
    width: 40px;
    height: 40px;
  }
}

.where-when__block__title {
  @include h3;
  margin-bottom: 4px;
}

.where-when__block__text {
  @include medium;
}
