/**
 * Person
 */

.contact-person {
  display: flex;
  flex-direction: column;

  @include breakpoint($bp-xs) {
    flex-direction: row-reverse;
  }

  @include breakpoint($bp-m) {
    flex-direction: row;
  }
}

.contact-person__avatar {
  margin-bottom: 16px;
  flex-shrink: 0;
  flex-grow: 0;

  @include breakpoint($bp-xs) {
    margin-left: 16px;
    margin-bottom: 0;
  }

  img {
    @include avatar(80px);
  }

  @include breakpoint($bp-m) {
    margin-right: 16px;
    margin-left: 0;

    img {
      @include avatar(100px);
    }
  }
}

/**
 * Body
 */

.contact-person__body {
  flex-grow: 1;
}

.contact-person__body__title {
  @include h3;
  margin-bottom: 6px;
}

.contact-person__body__text {
  @include p;
  margin-bottom: 6px;

  strong {
    font-weight: bold;
  }
}

.contact-person__body__options {
  margin-bottom: -8px;
}

.contact-person__body__options__item {
  display: inline-block;
  margin-right: 16px;
  margin-bottom: 8px;
  vertical-align: top;
}
