.share-balloon {
  position: relative;

  .button--share {
    @include button-outline;
    position: relative;
    margin-right: 8px;
    padding-left: 40px;

    .icon-share {
      position: absolute;
      left: 13px;
      fill: $rws-blue;
    }
  }

  &.is-open {
    .fixed-cta.is-open & {
      .share-balloon__body {
        opacity: 1;
      }
    }
  }
}

.share-balloon__body {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: calc(100% + 10px);
  box-shadow: 0 2px 7px 0 rgba($black, 0.15);
  border: 1px solid $rh-grey-4;
  border-radius: 4px;
  z-index: 100;
  opacity: 0;
  transition: opacity 0.2s ease;

  &::before {
    position: absolute;
    top: 0;
    left: 50%;
    transform: rotate(45deg) translateX(-15px);
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    background-color: $white;
    box-shadow: 0 2px 7px 0 rgba($black, 0.15);
    border: inherit;
    border-width: 1px 0 0 1px;
    z-index: -100;
  }
}

.share-balloon__body-inner {
  background-color: $white;
  padding: 12px;
  border-radius: 4px;
}
