.vacancy-apply {
  @include breakpoint($bp-s) {
    display: flex;
    align-items: center;
  }
}

.vacancy-apply__button-wrap {
  @include breakpoint($bp-s) {
    flex-grow: 0;
    flex-shrink: 0;
  }

  .button {
    @include button-medium;
  }
}

.vacancy-apply__info {
  @include p;
  font-size: 14px;
  margin-top: 14px;

  @include breakpoint($bp-s) {
    font-size: 18px;
    margin-top: 0;
    margin-left: 16px;
  }
}

.vacancy-apply__info__date {
  font-weight: bold;
  margin-right: 6px;
}

.vacancy-apply__info__days-left {
  @include mini;
  display: inline-block;
  font-weight: bold;
  color: $white;
  background-color: $rh-red;
  border-radius: 3px;
  padding: 2px 6px;
  transform: translateY(-2px);
}
