//- @pugdoc
  name: todo
  description: mark as todo
  arguments: 
    - {string} label

mixin todo(label)
  p.todo(style='background-color: lightyellow; border: 1px solid rgba(0, 0, 0, .1); padding: 8px;') 
    strong TODO:&nbsp;
    | #{label}


//- @pugdoc
  name: todo
  description: mark as todo
  arguments: 
    - {string} label
    
mixin section-todo(label)
  .section.section--todo
    .section-inner
      +todo(label)
