//- @pugdoc
  name: Takeover
  capture: none

mixin takeover()
  include ../../icons/_icon

  if !attributes.id
    - throw new TypeError("Takeover needs an id")

  .takeover(class="js-takeover", hidden, id=attributes.id, role="dialog", aria-modal="true", data-takeover="takeover")
    .takeover__background

    .takeover__body-wrap(class="js-takeover-body-wrap")

      .takeover__body(class="js-takeover-body")
        block
  
    button.takeover__close(type="button", aria-label="Verdieping sluiten", aria-expanded="false", aria-controls=attributes.id, class="js-takeover-close")
      +icon#cross

//- @pugdoc
  name: Algemeen (Takeover, testimonial)
  example: |
    include ./takeover
    include ../atoms/button

    div(style="height: 400px;")
      +button("Open takeover", "#RadhaJharap")

    +takeover-testimonial("florus_noordhoek.jpg", {avatar: "avatar-radhajharap.jpg", name: "Radha Jharap", position: "Technisch manager"})#RadhaJharap
      p Radha Jharap is technisch manager bij <a href="#">Rijkswaterstaat (RWS)</a>. Haar werk is deels technisch, maar vraagt ook om overleg met experts uit verrassende vakgebieden. Bij de versterking van de Afsluitdijk heeft Marieke bijvoorbeeld contact met ecologen en visdeskundigen.
      blockquote ‘Ik adviseer over effecten van ingrepen in het watersysteem op voldoende en schoon water’
      h2 De vorderingen bekijken
      p Sinds 2010 ben ik in vaste dienst bij RWS. 1 van mijn huidige projecten draait om de versterking van de Afsluitdijk, zodat hij de komende 50 jaar superstorm-bestendig zal zijn. Om de waterstanden in het IJsselmeer goed te kunnen regelen gaan we ook grote pompen installeren in de spuisluizen bij Den Oever. Het project moet in 2022 zijn voltooid, en zit nu nog in de planfase. Ik help het managementteam te bepalen hoe we technische problemen kunnen oplossen.
      h2 Minimale verspilling van tijd en geld
      p De komende jaren richt ik me ook op de herstelwerkzaamheden aan de Nijkerkerbrug, die Gelderland met Flevoland verbindt. RWS besteedt dit project op bijzondere manier aan onder de naam Project DOEN. We kiezen de aannemer met wie we de beste samenwerking denken te kunnen aangaan, en we laten hem veel ruimte om na te denken hoe hij dingen wil gaan oplossen.

mixin takeover-testimonial(image, person)
  include ../../utils/srcset
  include ../sections/cta
  include ../sections/testimonial-head
  include ../sections/richtext
  include ../sections/line
  
  +takeover(id=attributes.id)
    .takeover-testimonial
      picture.takeover-testimonial__picture
        +srcset(image, self.imageSizes["takeover"], "")

      .takeover-testimonial__content
        +section-testimonial-head(person.avatar, person.name, person.position)
        
        +section-richtext-with-lead
          block

        +section-line

        +section-cta("Interesse in een baan bij Rijkswaterstaat?", {"label": "Bekijk de ICT vacatures", "link": "#"})
        