.button-play {
  width: 64px;
  height: 64px;
  background-color: $rws-blue;
  display: flex;
  box-shadow: 0 0 0 4px rgba($white, 0.3);
  transition: background-color 0.15s;

  &::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 17px 0 17px 25px;
    border-color: transparent transparent transparent $white;
    margin: auto;
  }

  &:hover,
  &:focus {
    background-color: $rws-blue-dark;
    box-shadow: 0 0 0 4px rgba($white, 0.3);
    outline-offset: 4px;
  }
}
