.stronglink {
  font-family: $rijksoverheid-sans;
  font-size: 18px;
  font-weight: bold;
  color: $rws-blue;
  text-decoration: none;

  .icon-chevron {
    display: inline;
    width: 20px;
    height: 20px;
    fill: $rws-blue;
    margin-left: 2px;
  }

  &:hover {
    text-decoration: underline;
    color: $rws-blue-dark;

    .icon-chevron {
      fill: $rws-blue-dark;
    }
  }
}
